Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

Merge pull request #20342 from carbonin/use_default_sa
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20319 from d-m-u/prevent_vm_naming_from_service_template_create
  app/models/miq_provision_request_template.rb
  spec/models/miq_provision_request_template_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Optimize query and add spec test for dup uid_ems's
  app/models/ems_event.rb
  spec/models/ems_event_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Add assigment_type_description to ChargebackRate#assigned_to
  app/models/chargeback_rate.rb
  spec/models/chargeback_rate_spec.rb
Owners: @lpichler, @fryguy, @gtanzillo

Updated Translation Files from 2020-07-11
  locale/es/manageiq.po
  locale/fr/manageiq.po
  locale/it/manageiq.po
  locale/ja/manageiq.po
  locale/ko/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_CN/manageiq.po
  locale/zh_TW/manageiq.po
Owners: @fryguy, @gtanzillo

Use `display` value from original service template when copying a record
  app/models/service_template/copy.rb
  spec/models/service_template/copy_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Added virtual column `has_policies` that's an alias of `has_policies?`
  app/models/host.rb
  app/models/mixins/miq_policy_mixin.rb
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock

bump more core extensions
  Gemfile
Owners: @fryguy, @gtanzillo

Parameterize the manager_type when generating a provider
  lib/generators/manageiq/provider/provider_generator.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/event_catcher.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/event_catcher/runner.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/event_catcher/stream.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/metrics_capture.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/metrics_collector_worker.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/metrics_collector_worker/runner.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/refresh_worker.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/refresh_worker/runner.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/refresher.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/vm.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/cloud_manager/event_catcher.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/cloud_manager/metrics_collector_worker/runner.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/cloud_manager/refresh_worker.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/cloud_manager/refresh_worker/runner.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/cloud_manager/refresher.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/collector.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/collector/%manager_path%.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/parser/%manager_path%.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/persister.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/persister/%manager_path%.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/parser.rb
Owners: @fryguy, @gtanzillo

Print valid manager-types in usage
  lib/generators/manageiq/provider/USAGE
  lib/generators/manageiq/provider/provider_generator.rb
Owners: @fryguy, @gtanzillo

Replace --dummy with --no-scaffolding
  lib/generators/manageiq/provider/USAGE
  lib/generators/manageiq/provider/provider_generator.rb
Owners: @fryguy, @gtanzillo

Should be --scaffolding not true default
  lib/generators/manageiq/provider/provider_generator.rb
Owners: @fryguy, @gtanzillo

Add '::EmsStorage' alias
  app/models/aliases/ems_storage.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20351 from lpichler/assignment_human_type
  app/models/chargeback_rate.rb
  spec/models/chargeback_rate_spec.rb
Owners: @lpichler, @fryguy, @gtanzillo

Add specs
  spec/models/transformation_mapping_item_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20238 from fdupont-redhat/v2v_bz1804263
  app/models/transformation_mapping_item.rb
  spec/models/transformation_mapping_item_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

PERF_ROLLUP_CHILDREN should be an Array, fix and remove calls to #to_miq_a
  app/models/availability_zone.rb
  app/models/container.rb
  app/models/container_group.rb
  app/models/container_node.rb
  app/models/container_project.rb
  app/models/container_replicator.rb
  app/models/container_service.rb
  app/models/ems_cluster.rb
  app/models/ext_management_system.rb
  app/models/host.rb
  app/models/host_aggregate.rb
  app/models/metric/rollup.rb
  app/models/service.rb
  app/models/storage.rb
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough

Prefer Array.wrap over Object#to_miq_a
  app/models/compliance.rb
  app/models/dialog_field_radio_button.rb
  app/models/dialog_field_sorted_item.rb
  app/models/manageiq/providers/base_manager/event_catcher/runner.rb
  app/models/metric/rollup.rb
  app/models/miq_compare.rb
  app/models/miq_provision_virt_workflow.rb
  app/models/miq_request.rb
  app/models/miq_request_workflow.rb
  app/models/miq_schedule_worker/runner.rb
  app/models/miq_server/worker_management/dequeue.rb
  app/models/mixins/assignment_mixin.rb
  app/models/mixins/async_delete_mixin.rb
  app/models/mixins/authentication_mixin.rb
  app/models/mixins/miq_request_mixin.rb
  app/models/mixins/scanning_mixin.rb
  app/models/storage.rb
  app/models/vim_performance_analysis.rb
  app/models/vm_reconfigure_request.rb
  lib/extensions/ar_to_model_hash.rb
  lib/miq_ldap.rb
  tools/ldap_ping.rb
Owners: @lfu, @tinaaftiz, @agrare, @fryguy, @kbrock, @gmcullough, @jrafanie, @carbonin, @gtanzillo

Ensure remaining models are translated but not through rails' titleize
  app/models/miq_compare.rb
  spec/models/miq_compare_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Split extra vars for Ansible playbooks
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Merge pull request #20361 from jrafanie/translate_compare_section_headers_for_all_models
  app/models/miq_compare.rb
  spec/models/miq_compare_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Split extra vars for Ansible playbooks
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Update import_export.rb
  app/models/generic_object_definition/import_export.rb
Owners: @lfu, @bzwei

Use scope for_groups in MiqReportResult.with_current_user_groups
  app/models/miq_report_result.rb
  spec/models/miq_report_result_spec.rb
Owners: @kbrock, @lpichler, @fryguy, @gtanzillo

Remove seed limit from seeding specs
  spec/models/miq_database_spec.rb
  spec/models/miq_dialog/seeding_spec.rb
  spec/models/miq_enterprise_spec.rb
  spec/models/miq_region_spec.rb
  spec/models/miq_report/seeding_spec.rb
  spec/models/miq_server_spec.rb
  spec/models/miq_widget_spec.rb
  spec/models/scan_item/seeding_spec.rb
  spec/models/tenant_spec.rb
  spec/models/user_spec.rb
  spec/support/examples_group/shared_examples_for_seeding.rb
Owners: @fryguy, @gtanzillo

Fix missing Inventory::* classes in plugin generator
  lib/generators/manageiq/provider/provider_generator.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/collector.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/collector/%manager_path%.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/parser.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/parser/%manager_path%.rb
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/inventory/persister.rb
  lib/generators/manageiq/provider/templates/config/settings.yml
Owners: @fryguy, @gtanzillo

add physical server custom buttons
  app/models/custom_button.rb
Owners: @agrare, @fryguy, @kbrock

fix find_by deprecation warning
  app/models/classification.rb
Owners: @agrare, @fryguy, @kbrock

Fix the evm_application_spec for updated tabelize
  spec/lib/tasks/evm_application_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20363 from fdupont-redhat/v2v_bz1857523
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Allow plugins to override Vm vendor_types
  app/models/host.rb
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock

Update provider generator to override vendor_display
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/%manager_path%/vm.rb
Owners: @fryguy, @gtanzillo

Use OpenStruct over MiqHashStruct
  app/models/miq_provision_virt_workflow.rb
  app/models/miq_request_workflow.rb
  spec/models/manageiq/providers/cloud_manager/provision_workflow_spec.rb
  spec/models/miq_provision_virt_workflow_spec.rb
  spec/models/miq_request_workflow_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Add Sprint review 141 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

disable domains on import
  lib/services/git_based_domain_import_service.rb
  spec/lib/services/git_based_domain_import_service_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20368 from lpichler/use_for_groups_scope_in_with_current_user_groups
  app/models/miq_report_result.rb
  spec/models/miq_report_result_spec.rb
Owners: @kbrock, @lpichler, @fryguy, @gtanzillo

Clean up remaining #to_miq_a callers that are covered by tests
  app/models/miq_alert.rb
  app/models/miq_report/generator/aggregation.rb
  app/models/miq_report/generator/sorting.rb
  app/models/miq_request_task/dumping.rb
  app/models/mixins/relationship_mixin.rb
  lib/miq_expression.rb
Owners: @agrare, @fryguy, @kbrock, @lpichler, @gmcullough, @gtanzillo

Add IBM vendor type
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock

Bump the memory limits for metrics and queue workers
  config/settings.yml
Owners: @jrafanie

The tower provider was moved to the base factory
  spec/models/service_template_ansible_tower_spec.rb
Owners: @fryguy, @gtanzillo

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
