Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

Skip models that do not respond to :display_name
  lib/tasks/locale.rake
Owners: @fryguy, @gtanzillo

Update source catalog for jansa release
  locale/manageiq.pot
Owners: @fryguy, @gtanzillo

Update transifex config for Jansa branch
  .tx/config
Owners: @fryguy, @gtanzillo

Use create_from_base64 rather than new
  app/models/service_template.rb
Owners: @gmcullough

Release ivanchuk-4
  Gemfile
  VERSION
Owners: @fryguy, @gtanzillo

Revert Gemfile tag reference update and put back branch reference
  Gemfile
Owners: @fryguy, @gtanzillo

Update CHANGELOG.md
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Remove timeline license as that code no longer exists
  LICENSE.txt
Owners: @fryguy, @gtanzillo

Move Third Party licenses to NOTICE.txt
  LICENSE.txt
  NOTICE.txt
Owners: @fryguy, @gtanzillo

Add Sprint review 132 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Rename private display_name method to avoid conflict
  app/models/vm_reconfigure_task.rb
Owners: @agrare, @fryguy, @kbrock

Bump sys-filesystem version to 1.3.2.
  Gemfile
Owners: @fryguy, @gtanzillo

Add translations for Jansa branch
  locale/es/manageiq.po
  locale/fr/manageiq.po
  locale/ja/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_CN/manageiq.po
Owners: @fryguy, @gtanzillo

Add inventory_collections for container raise_creation_events
  app/models/manageiq/providers/inventory/persister/builder/container_manager.rb
Owners: @agrare

[Gemfile] Ensure manageiq-smartstate is 0.5.3
  Gemfile
Owners: @fryguy, @gtanzillo

Remove the Refresher#manager_refresh_post_processing method
  app/models/manageiq/providers/base_manager/refresher.rb
Owners: @agrare

Fix Full Pathname Stored in DB
  app/models/filesystem.rb
Owners: @agrare, @fryguy, @kbrock

Fix RuboCop Complaint
  app/models/filesystem.rb
Owners: @agrare, @fryguy, @kbrock

Only queue ansible runner ops when not in pods
  app/models/manageiq/providers/ansible_runner_workflow.rb
  spec/models/manageiq/providers/ansible_role_workflow_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Fix ansible playbook workflow specs
  spec/models/manageiq/providers/ansible_playbook_workflow_spec.rb
Owners: @fryguy, @gtanzillo

Don't recurse into poll_runner when in pods, loop instead
  app/models/manageiq/providers/ansible_runner_workflow.rb
  spec/models/manageiq/providers/ansible_role_workflow_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Create a method for loading the runner async result
  app/models/manageiq/providers/ansible_runner_workflow.rb
Owners: @agrare

Cleanup AnsibleRunnerWorkflow#poll_runner method
  app/models/manageiq/providers/ansible_runner_workflow.rb
Owners: @agrare

Add a state to pause disks precopy
  app/models/conversion_host.rb
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @fdupont-redhat, @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Added a test for MiqPolicySet#miq_policies which tests the vitrual_has_many defined in ActsAsMiqSet
  spec/models/miq_policy_spec.rb
Owners: @fryguy, @gtanzillo

Fix rubocops
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough

Do not wait for IP address if no playbook is expected
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Set name to fqname always
  app/models/filesystem.rb
Owners: @agrare, @fryguy, @kbrock

remove all the cruft from the refresher
  app/models/manageiq/providers/base_manager/refresher.rb
  spec/models/manageiq/providers/base_manager/refresher_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Fix ServiceTemplateTransformationPlanTask spec
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @fryguy, @gtanzillo

Move test on Ansible playbook presence
  app/models/infra_conversion_job.rb
Owners: @agrare, @fryguy, @kbrock

Fix rubocops
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @fryguy, @gtanzillo

Do not mount VDDK folder if transport method is SSH
  app/models/conversion_host.rb
  spec/models/conversion_host_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Fix rubocops
  app/models/conversion_host.rb
Owners: @fdupont-redhat

add tests for preprocess_targets_manager_refresh
  spec/models/manageiq/providers/base_manager/refresher_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19855 from d-m-u/adding_instance_retire_for_queueing_retirement_vm_calls
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #19933 from pemcg/update_sample_vm_analysis_profile
  product/scan_items/scan_item_file.yaml
Owners: @hkataria

Ivanchuk-4 Changelog
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Merge pull request #19909 from mzazrivec/add_display_name_for_openstack_cinder_manager
  locale/en.yml
Owners: @fryguy, @gtanzillo

Merge pull request #19914 from fdupont-redhat/v2v_bz_1809580
  app/models/manageiq/providers/cloud_manager/vm.rb
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock
