Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

MiqExpression "CONTAINS" now uses active record
  lib/miq_expression.rb
  lib/miq_expression/where_extraction_visitor.rb
Owners: @fryguy, @gtanzillo

Publish metrics to kafka
  app/models/metric/ci_mixin/processing.rb
Owners: @agrare

With rails 5.2, where clauses will no longer cast Class objects as Strings. We need to explicitly pass String objects.
  app/models/miq_report_result.rb
Owners: @kbrock, @lpichler

initialize_type_map now expects 1 argument
  lib/extensions/ar_types.rb
Owners: @fryguy, @gtanzillo

Set the provider attribute before hostname/ipaddress in EMS factory
  spec/factories/ext_management_system.rb
Owners: @fryguy, @gtanzillo

[MiqReport] Handle duplicate Default MiqReports
  app/models/miq_report.rb
  app/models/miq_report/seeding.rb
Owners: @kbrock, @lpichler

Fix Foreman::ConfigurationManager without a Provider
  spec/factories/ext_management_system.rb
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Add Sprint review 133 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Rename queue_ to messaging_ in settings
  config/settings.yml
Owners: @jrafanie

Catch exceptions from ManageIQ::Messaging::Client
  app/models/ems_event.rb
  app/models/metric/ci_mixin/processing.rb
  app/models/miq_queue.rb
Owners: @agrare, @fryguy, @kbrock

Add in resource_ref and _uid if present
  app/models/metric/ci_mixin/processing.rb
Owners: @agrare

Switch topic name to manageiq. namespace
  app/models/metric/ci_mixin/processing.rb
Owners: @agrare

Add manager_class attribute to persister builder
  app/models/manageiq/providers/inventory/persister/builder.rb
  app/models/manageiq/providers/inventory/persister/builder/persister_helper.rb
  spec/models/manageiq/providers/inventory/persister/builder_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Rename resource_ref/_uid resource_manager_ref/_uid
  app/models/metric/ci_mixin/processing.rb
Owners: @agrare

fix order warnings
  app/models/custom_button.rb
  app/models/miq_report_result.rb
  app/models/mixins/process_tasks_mixin.rb
  db/fixtures/tools/create_customization_templates_fixture.rb
  db/fixtures/tools/create_pxe_image_types_fixture.rb
  spec/models/classification_spec.rb
  tools/db_printers/print_network.rb
  tools/db_printers/print_scsi.rb
Owners: @agrare, @fryguy, @kbrock, @lpichler, @carboni, @bdunne, @gtanzillo

fix report formatter deprecation warning
  app/models/miq_report/formatters/text.rb
Owners: @kbrock, @lpichler

fix storage profile ems foreign key
  app/models/storage_profile.rb
Owners: @agrare, @fryguy, @kbrock

Ensure signal is queued in poll_transform_vm_complete also for warm migration
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

MiqAeNamespace should use ancestry instead of acts_as_tree
  app/models/miq_ae_class.rb
  app/models/miq_ae_namespace.rb
  spec/models/miq_ae_class_spec.rb
  spec/models/miq_ae_field_spec.rb
  spec/models/miq_ae_instance_spec.rb
  spec/models/miq_ae_namespace_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

fix rubocop gone bad
  app/models/miq_ae_class.rb
Owners: @agrare, @fryguy, @kbrock

Create two_phase? method
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough

Allow two-phase migration for SSH transport method
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Fix rubocops
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Fix specs
  spec/models/infra_conversion_job_spec.rb
Owners: @fryguy, @gtanzillo

Ensure signal is queued also for two-phase migration
  app/models/infra_conversion_job.rb
Owners: @agrare, @fryguy, @kbrock

Add spec
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

[TimeProfile] Fix "Dangerous query method" warning
  app/models/time_profile.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #19976 from jerryk55/expanded_glob_processing
  app/models/filesystem.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #19976 from jerryk55/expanded_glob_processing
  app/models/filesystem.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20030 from jrafanie/initialize_type_map_now_expects_1_argument
  lib/extensions/ar_types.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20038 from kbrock/storage_profile_ems
  app/models/storage_profile.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20036 from kbrock/unsafe_queries
  app/models/custom_button.rb
  app/models/miq_report_result.rb
  app/models/mixins/process_tasks_mixin.rb
  db/fixtures/tools/create_customization_templates_fixture.rb
  db/fixtures/tools/create_pxe_image_types_fixture.rb
  spec/models/classification_spec.rb
  tools/db_printers/print_network.rb
  tools/db_printers/print_scsi.rb
Owners: @agrare, @fryguy, @kbrock, @lpichler, @carboni, @bdunne, @gtanzillo

Remote namespace#parent_id from specs
  spec/models/miq_ae_class_spec.rb
  spec/models/miq_ae_method_spec.rb
Owners: @fryguy, @gtanzillo

Only show catalog types for supported EMSs
  app/models/ext_management_system.rb
  app/models/manageiq/providers/base_manager.rb
  app/models/manageiq/providers/embedded_automation_manager.rb
  app/models/service_template.rb
  spec/models/ext_management_system_spec.rb
  spec/models/manageiq/providers/embedded_ansible/automation_manager_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

introduce clusterless hosts as an association
  app/models/manageiq/providers/infra_manager.rb
  spec/models/manageiq/providers/infra_manager_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Merge pull request #20029 from jrafanie/pass_strings_to_where_classes_not_class_objects
  app/models/miq_report_result.rb
Owners: @kbrock, @lpichler

update to 2.1.4 for testing
  Gemfile
Owners: @fryguy, @gtanzillo

Refactor NetworkManager supported_types_and_descriptions_hash
  app/models/manageiq/providers/network_manager.rb
Owners: @agrare

Pluggable config/supported_locales.yml
  lib/vmdb/fast_gettext_helper.rb
Owners: @fryguy, @gtanzillo

Simplify Vmdb::PermissionsStore and make it pluggable
  config/initializers/permissions_repository.rb
  lib/vmdb/permission_stores.rb
  lib/vmdb/permission_stores/null.rb
  lib/vmdb/permission_stores/yaml.rb
  spec/lib/vmdb/permission_stores_spec.rb
  spec/models/ext_management_system_spec.rb
  spec/support/vmdb_permission_store_helper.rb
Owners: @jrafanie, @fryguy, @gtanzillo
