Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

Update evm_application_spec.rb
  spec/lib/tasks/evm_application_spec.rb
Owners: @fryguy, @gtanzillo

replace match_query_limit_of with db-query-matchers
  Gemfile
  spec/lib/extensions/ar_number_of_spec.rb
  spec/lib/extensions/ar_region_spec.rb
  spec/lib/miq_preloader_spec.rb
  spec/lib/rbac/filterer_spec.rb
  spec/models/container_group_spec.rb
  spec/models/miq_product_feature_spec.rb
  spec/models/mixins/authentication_mixin_spec.rb
  spec/models/mixins/compliance_mixin_spec.rb
  spec/models/mixins/drift_state_mixin_spec.rb
  spec/models/mixins/relationship_mixin_spec.rb
  spec/models/notification_spec.rb
  spec/models/vm_or_template_spec.rb
  spec/support/custom_matchers/match_query_limit_of.rb
Owners: @fryguy, @gtanzillo

replace exceed_query_limit with db-query-matchers
  spec/models/manageiq/providers/embedded_ansible/automation_manager/configuration_script_source_spec.rb
  spec/models/miq_provision_virt_workflow_spec.rb
  spec/support/custom_matchers/exceed_query_limit.rb
  spec/support/examples_group/shared_examples_for_aggregation_mixin.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20383 from agrare/bump_memory_thresholds
  config/settings.yml
Owners: @jrafanie

String#lines is an Array, no need for the #to_a
  app/models/miq_report/generator/aggregation.rb
  lib/miq_expression.rb
Owners: @kbrock, @lpichler, @fryguy, @gtanzillo

Fix template directory due to RPM build changes
  tools/miq_config_sssd_ldap/auth_template_files.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20388 from jvlcek/template_dir_issue_20375
  tools/miq_config_sssd_ldap/auth_template_files.rb
Owners: @fryguy, @gtanzillo

Revert Gemfile tag reference update and put back branch reference
  Gemfile
Owners: @fryguy, @gtanzillo

Release jansa-1-rc1
  Gemfile
  VERSION
Owners: @fryguy, @gtanzillo

Add method collection_name to OwnershipMixin
  app/models/mixins/ownership_mixin.rb
  spec/support/examples_group/shared_examples_for_ownership_mixin.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

add ancestry to resource pool
  app/models/resource_pool.rb
Owners: @agrare, @fryguy, @kbrock

The cloud_volumes inv collection was missing
  app/models/manageiq/providers/inventory/persister/builder/storage_manager.rb
Owners: @agrare

Allow providers to override provider_module
  app/models/manageiq/providers/inventory/persister.rb
  app/models/manageiq/providers/inventory/persister/builder.rb
Owners: @agrare

Translate data displayed in list views
  app/models/miq_report/generator.rb
Owners: @kbrock, @lpichler

Add APP_PATH to allow using Rails directly in plugin generator
  lib/generators/manageiq/plugin/templates/bin/rails
Owners: @fryguy, @gtanzillo

Call `column_type` on parsed field to get the actual column type
  app/models/miq_report/generator/sorting.rb
Owners: @kbrock, @lpichler

Raname the key_pairs collection to match model name
  app/models/manageiq/providers/inventory/persister/builder/cloud_manager.rb
  spec/models/manageiq/providers/inventory/persister/local_db_finders_spec.rb
  spec/models/manageiq/providers/inventory/persister/serializing_spec.rb
  spec/models/manageiq/providers/inventory/persister/test_persister.rb
Owners: @agrare, @fryguy, @gtanzillo

Added try for calling `column_type` in case the parsed field is nil, in which case it should default to `:string`
  app/models/miq_report/generator/sorting.rb
Owners: @kbrock, @lpichler

Added test for sorting with nil column values
  spec/models/miq_report/generator_spec.rb
Owners: @fryguy, @gtanzillo

Re-enable journald logger
  Gemfile
  lib/vmdb/loggers.rb
Owners: @fryguy, @gtanzillo

Remove MIQ_SPARTAN in favor of Foreman
  app/models/miq_generic_worker.rb
  app/models/miq_schedule_worker.rb
  app/models/miq_server/environment_management.rb
  app/models/miq_ui_worker.rb
  app/models/miq_worker.rb
  app/models/mixins/per_ems_type_worker_mixin.rb
  app/models/mixins/per_ems_worker_mixin.rb
  lib/workers/evm_server.rb
  spec/models/miq_server/environment_manager_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @carbonin, @gtanzillo

Replace MiqUUID with Digest::UUID.
  app/models/hardware.rb
Owners: @agrare, @fryguy, @kbrock
