Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

Add spec that checks for group switching limitations
  spec/models/user_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20241 from agrare/upgrade_psych_to_3_1_0
  Gemfile
Owners: @fryguy, @gtanzillo

Merge pull request #20268 from carbonin/conditionally_add_messaging_env
  lib/container_orchestrator/object_definition.rb
  spec/lib/container_orchestrator_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20270 from h-kataria/alert_form_string_translation_fix
  app/models/miq_alert.rb
Owners: @agrare, @fryguy, @kbrock

the build is saying these tests are deprecated
  spec/lib/task_helpers/exports/service_dialogs_spec.rb
  spec/lib/tasks/dialogs_spec.rb
Owners: @fryguy, @gtanzillo

[EmbeddedAnsible] Remove TODOs from job_spec.rb
  spec/models/manageiq/providers/embedded_ansible/automation_manager/job_spec.rb
Owners: @fryguy, @gtanzillo

[EmbeddedAnsible] Remove job_status_spec TODO
  spec/models/manageiq/providers/embedded_ansible/automation_manager/job/status_spec.rb
Owners: @fryguy, @gtanzillo

Explicitly disable systemd support in podified env
  lib/miq_environment.rb
  spec/lib/miq_environment_spec.rb
Owners: @fryguy, @gtanzillo

Do targeted refresh when waiting for IP address
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Don't rely on the default value for ImagePullPolicy
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

Release ivanchuk-6
  Gemfile
  VERSION
Owners: @fryguy, @gtanzillo

Revert Gemfile tag reference update and put back branch reference
  Gemfile
Owners: @fryguy, @gtanzillo

Remove extra vm_xen reference from factories
  spec/factories/vm_or_template.rb
Owners: @fryguy, @gtanzillo

Also remove TemplateXen and the factory
  app/models/template_xen.rb
  spec/factories/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Use ems_ref instead of id
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

remove extra selects
  app/models/manageiq/providers/inventory/persister/builder/cloud_manager.rb
Owners: @agrare

cloud manager needs this alias set
  app/models/manageiq/providers/cloud_manager.rb
Owners: @agrare

[Ansible::Runner] Fix --ask-become-method for machine credentials
  lib/ansible/runner.rb
  lib/ansible/runner/credential/machine_credential.rb
  spec/lib/ansible/runner/credential/machine_credential_spec.rb
  spec/lib/ansible/runner_spec.rb
Owners: @fryguy, @gtanzillo

Update Service OrchestrationStack reconnection script
  tools/reconnect_service_orchestration_stacks.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19696 from himdel/dialog-tag-multi
  app/models/dialog_field_tag_control.rb
  spec/models/dialog_field_tag_control_spec.rb
Owners: @tinaaftiz, @fryguy, @gtanzillo

Merge pull request #20244 from yrudman/fix-retirement-from-global
  app/models/mixins/inter_region_api_method_relay.rb
  spec/models/mixins/inter_region_api_method_relay_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #18859 from PanSpagetka/add-copy-service-request
  app/models/service_template_provision_request.rb
Owners: @gmcullough

Change the Settings cache check in tests to improve performance
  spec/support/evm_spec_helper.rb
Owners: @fryguy, @gtanzillo

Do targeted refresh when waiting for IP address
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20272 from skateman/spec-group-switch
  spec/models/user_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20277 from agrare/explicitly_disable_on_containerized
  lib/miq_environment.rb
  spec/lib/miq_environment_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20279 from carbonin/explicity_set_pull_policy
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

Merge pull request #20282 from NickLaMuro/embedded_ansible_fix_ask_become_pass
  lib/ansible/runner.rb
  lib/ansible/runner/credential/machine_credential.rb
  spec/lib/ansible/runner/credential/machine_credential_spec.rb
  spec/lib/ansible/runner_spec.rb
Owners: @fryguy, @gtanzillo

Fix regex for virtual custom attributes in MiqExpression::Field
  lib/miq_expression/field.rb
  spec/lib/miq_expression/field_spec.rb
Owners: @fryguy, @gtanzillo

Create env vars to override the full worker image ref
  app/models/miq_ui_worker.rb
  app/models/miq_worker/container_common.rb
  app/models/miq_worker/service_worker.rb
  spec/models/miq_worker/container_common_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Ensure ems workers are killed by their server/orchestrator pod
  app/models/ext_management_system.rb
  app/models/miq_worker.rb
  spec/models/ext_management_system_spec.rb
  spec/models/miq_worker_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Merge pull request #20292 from fdupont-redhat/v2v_refresh_while_waiting_for_ip_address_2
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20292 from fdupont-redhat/v2v_refresh_while_waiting_for_ip_address_2
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20295 from lpichler/fix_regex_for_virtual_custom_attributes
  lib/miq_expression/field.rb
  spec/lib/miq_expression/field_spec.rb
Owners: @fryguy, @gtanzillo

make Field/Target consistent with get_col_info
  lib/miq_expression.rb
  lib/miq_expression/tag.rb
  lib/miq_expression/target.rb
  spec/lib/miq_expression/tag_spec.rb
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

Combine child managers' RefreshWorkers
  app/models/ems_refresh.rb
  app/models/manageiq/providers/base_manager/refresh_worker.rb
Owners: @agrare

Remove the miq_workers table from the reindex list
  config/settings.yml
Owners: @jrafanie

Add Sprint review 139 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Merge pull request #20297 from carbonin/env_for_full_image_ref
  app/models/miq_ui_worker.rb
  app/models/miq_worker/container_common.rb
  app/models/miq_worker/service_worker.rb
  spec/models/miq_worker/container_common_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

separate with_rel_type genealogy changes from binding
  app/models/ems_refresh/save_inventory.rb
  app/models/manageiq/providers/inventory/persister/builder/cloud_manager.rb
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock
