Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

Renamed provider_foreman to configuration_manager
  app/models/aliases/ems_configuration.rb
  app/models/configured_system.rb
  db/fixtures/miq_product_features.yml
  db/fixtures/miq_shortcuts.yml
  db/fixtures/miq_user_roles.yml
  locale/en.yml
Owners: @agrare, @fryguy, @kbrock, @carboni, @bdunne, @gtanzillo

Merge pull request #20164 from lfu/add_ns_domain_followup
  app/models/miq_ae_class.rb
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
  app/models/miq_ae_namespace.rb
Owners: @agrare, @fryguy, @kbrock

Ensure to check symbol as method name in report_options
  app/models/chargeback/report_options.rb
  spec/models/chargeback_vm_spec.rb
Owners: @lpichler, @fryguy, @gtanzillo

Upgrade to rails 5.2.4.3 for some security fixes.
  Gemfile
Owners: @fryguy, @gtanzillo

Add audit_logger to muilticast logger
  lib/vmdb/loggers.rb
Owners: @fryguy, @gtanzillo

Startpage url changes to go with non-explorer verison of CB Assignments
  db/fixtures/miq_shortcuts.yml
Owners: @agrare, @carboni, @bdunne

Make the conditions and expressions used in compliance checks available to API requests at the resources level
  app/models/mixins/compliance_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Tests for #last_compliance_conditions and #last_compliance_condition_expressions
  spec/factories/compliance.rb
  spec/models/mixins/compliance_mixin_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19924 from bdunne/cam
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Merge pull request #19949 from h-kataria/provider_foreman_renaming
  app/models/aliases/ems_configuration.rb
  app/models/configured_system.rb
  db/fixtures/miq_product_features.yml
  db/fixtures/miq_shortcuts.yml
  db/fixtures/miq_user_roles.yml
  locale/en.yml
Owners: @agrare, @fryguy, @kbrock, @carboni, @bdunne, @gtanzillo

Merge pull request #20107 from Fryguy/production_static_assets
  config/environments/production.rb
  lib/miq_environment.rb
  spec/lib/miq_environment_spec.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Merge pull request #20179 from agrare/add_ems_uid_and_type_to_event_payload
  app/models/ems_event.rb
  spec/models/ems_event_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Merge pull request #20188 from jrafanie/bump_to_rails_5_2_4_3
  Gemfile
Owners: @fryguy, @gtanzillo

Merge pull request #20156 from h-kataria/cb_rates_non_explorer_features
  db/fixtures/miq_product_features.yml
  db/fixtures/miq_shortcuts.yml
Owners: @agrare, @carboni, @bdunne

Merge pull request #20186 from lpichler/allow_to_pass_strong_method_for_allocated_metrics
  app/models/chargeback/report_options.rb
  spec/models/chargeback_vm_spec.rb
Owners: @lpichler, @fryguy, @gtanzillo

Merge pull request #20191 from Fryguy/audit_logger_in_broadcast
  lib/vmdb/loggers.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20133 from fdupont-redhat/v2v_bz_1810406
  app/models/conversion_host.rb
  spec/models/conversion_host_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Merge pull request #20133 from fdupont-redhat/v2v_bz_1810406
  app/models/conversion_host.rb
  spec/models/conversion_host_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

add dialog system value
  app/models/dialog.rb
  spec/lib/task_helpers/exports/service_dialogs_spec.rb
  spec/models/dialog_serializer_spec.rb
  spec/models/dialog_yaml_serializer_spec.rb
Owners: @tinaaftiz, @fryguy, @gtanzillo

Corrected the :uses clauses for #last_compliance_conditions and #last_compliance_condition_expressions
  app/models/mixins/compliance_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Updated start page url for chargeback reports and feature id for the url
  db/fixtures/miq_shortcuts.yml
Owners: @agrare, @carboni, @bdunne

Added/Updated existing chargeback reports features
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

specify what is missing if tag assignment failed Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1792106
  app/models/classification.rb
Owners: @agrare, @fryguy, @kbrock

added test coverage for Classification.classify
  spec/models/classification_spec.rb
Owners: @fryguy, @gtanzillo

use virtual_aggregate for hosts and emses and clusters
  app/models/container_project.rb
  app/models/ems_cluster.rb
  app/models/ext_management_system.rb
  app/models/host.rb
  app/models/manageiq/providers/container_manager.rb
  app/models/miq_enterprise.rb
  app/models/miq_region.rb
  app/models/miq_server.rb
  app/models/mixins/aggregation_mixin.rb
  app/models/mixins/aggregation_mixin/methods.rb
  app/models/mixins/relationships_aggregation_mixin.rb
  app/models/zone.rb
  spec/models/ems_cluster_spec.rb
  spec/models/ext_management_system_spec.rb
  spec/models/host_spec.rb
  spec/models/mixins/aggregation_mixin_spec.rb
  spec/models/zone_spec.rb
  spec/support/examples_group/shared_examples_for_aggregation_mixin.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @carbonin, @gtanzillo

fix sanitize call
  app/models/miq_region_remote.rb
Owners: @agrare, @fryguy, @kbrock

WIP - Check compliance for only specified compliance profile
  app/models/compliance.rb
  app/models/miq_policy.rb
  app/models/mixins/compliance_mixin.rb
Owners: @lfu, @agrare, @fryguy, @kbrock

Better answer the question, field supported by sql
  lib/miq_expression/field.rb
  lib/miq_expression/target.rb
  spec/lib/miq_expression/field_spec.rb
Owners: @fryguy, @gtanzillo

better detect valid contains
  lib/miq_expression.rb
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

make miq expression tag specs valid
  spec/lib/miq_expression/tag_spec.rb
Owners: @fryguy, @gtanzillo

MiqExpression::Tag now supports arel_attribute
  lib/miq_expression/field.rb
  lib/miq_expression/tag.rb
  lib/miq_expression/target.rb
Owners: @fryguy, @gtanzillo

MiqExpresion: support tags with relationships
  lib/miq_expression.rb
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

Revert "Merge pull request #19864 from fdupont-redhat/v2v_conversion_host_fix_extra_vars"
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Revert "Merge pull request #20011 from fdupont-redhat/v2v_enable_two_phase_for_ssh"
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Revert "Merge pull request #19989 from fdupont-redhat/v2v_bz_1814258_2"
  app/models/conversion_host.rb
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @fdupont-redhat, @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Revert "Merge pull request #20012 from fdupont-redhat/v2v_bz_1817151"
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Revert "Merge pull request #20102 from fdupont-redhat/v2v_bz_1825023"
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Revert "Merge pull request #19880 from fdupont-redhat/v2v_fix_bz_1807770"
  app/models/service_template_transformation_plan_task.rb
Owners: @gmcullough

Revert "Merge pull request #19980 from fdupont-redhat/v2v_bz_1815046"
  app/models/conversion_host.rb
  spec/models/conversion_host_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Revert "Merge pull request #20040 from fdupont-redhat/bz_1817096_2"
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
