Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

Add an owner reference to the orchestrator pod for all created objects
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Update manageiq-smartstate Gem to 0.3.7
  Gemfile
Owners: @fryguy, @gtanzillo

Merge pull request #19928 from bdunne/cam
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Merge pull request #19930 from gtanzillo/add-has-many-to-set-members
  lib/extensions/ar_miq_set.rb
  spec/models/miq_policy_spec.rb
Owners: @fryguy, @gtanzillo

Fix a missing permission stub in a spec
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19549 from fdupont-redhat/make_guest_device_taggable
  app/models/guest_device.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #19945 from fdupont-redhat/v2V_bz_1810555
  app/models/conversion_host/configurations.rb
  spec/models/conversion_host/configurations_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Merge pull request #19945 from fdupont-redhat/v2V_bz_1810555
  app/models/conversion_host/configurations.rb
  spec/models/conversion_host/configurations_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Allow job to continue if kill_virtv2v raises an execption
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Allow overriding ESXi IP address with a custom attribute
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Fix rubocop
  app/models/service_template_transformation_plan_task.rb
Owners: @gmcullough

Merge pull request #19995 from fdupont-redhat/v2v_bz_1812685_2
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #19908 from fdupont-redhat/v2v_bz_1809035
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Removed redundant feature ems_configuration_configured_system_provision
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Eager load collection constants to avoid constant loading problems.
  app/models/miq_web_service_worker.rb
  spec/models/miq_web_server_worker_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Spec to test merge_where_clause
  spec/models/miq_report/generator_spec.rb
Owners: @fryguy, @gtanzillo

delete MiqExpression#merge_where_clauses
  app/models/miq_report/generator.rb
  lib/miq_expression.rb
  spec/lib/miq_expression_spec.rb
Owners: @kbrock, @lpichler, @fryguy, @gtanzillo

Add Sprint review 134 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Merge pull request #20072 from jrafanie/eager-load-api-collection-classes-in-web-service-worker
  app/models/miq_web_service_worker.rb
  spec/models/miq_web_server_worker_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20072 from jrafanie/eager-load-api-collection-classes-in-web-service-worker
  app/models/miq_web_service_worker.rb
  spec/models/miq_web_server_worker_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Add col_format_with_defaults to MiqReport
  app/models/miq_report.rb
Owners: @kbrock, @lpichler

Merge pull request #20009 from skateman/cu-extra-fields
  app/models/ems_cluster.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #19848 from d-m-u/adding_option_to_copy_server_settings_pass_one
  spec/tools/server_settings_replicator/server_settings_replicator_spec.rb
  tools/configure_server_settings.rb
  tools/server_settings_replicator/server_settings_replicator.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20010 from bdunne/move_core_settings_fron_ui
  config/settings.yml
Owners: @jrafanie

Merge pull request #20019 from carbonin/add_more_priv_escalation_options
  app/models/manageiq/providers/embedded_ansible/automation_manager/machine_credential.rb
Owners: @agrare

Merge pull request #20000 from carbonin/add_kafka_for_container_workers
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20024 from evertmulder/Testing--pull19848
  tools/configure_server_settings.rb
Owners: @fryguy, @gtanzillo

Add a report for vms with alerts
  config/miq_expression.yml
  product/reports/100_Configuration Management - Virtual Machines/008_VMs w_Alerts.yaml
Owners: @jrafanie, @hkataria

Merge pull request #19978 from fdupont-redhat/v2v_bz_1814258
  app/models/conversion_host.rb
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @fdupont-redhat, @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Merge pull request #20040 from fdupont-redhat/bz_1817096_2
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #19824 from lfu/add_ancestry_to_miq_ae_namespace
  app/models/miq_ae_class.rb
  app/models/miq_ae_namespace.rb
  spec/models/miq_ae_class_spec.rb
  spec/models/miq_ae_field_spec.rb
  spec/models/miq_ae_instance_spec.rb
  spec/models/miq_ae_namespace_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20044 from kbrock/ancestry_v2
  app/models/miq_ae_class.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20045 from NickLaMuro/fix_time_profile_rails_5_2_deprecation_warning
  app/models/time_profile.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20047 from kbrock/infra_clusterless_hosts
  app/models/manageiq/providers/infra_manager.rb
  spec/models/manageiq/providers/infra_manager_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Merge pull request #20054 from Fryguy/pluggable_supported_locales
  lib/vmdb/fast_gettext_helper.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20056 from bdunne/database_yml_cleanup
  config/database.pg.yml
Owners: @jrafanie

Merge pull request #20053 from Fryguy/pluggable_permissions
  config/initializers/permissions_repository.rb
  lib/vmdb/permission_stores.rb
  lib/vmdb/permission_stores/null.rb
  lib/vmdb/permission_stores/yaml.rb
  spec/lib/vmdb/permission_stores_spec.rb
  spec/models/ext_management_system_spec.rb
  spec/support/vmdb_permission_store_helper.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Merge pull request #20060 from agrare/add_ems_type_to_kafka_metric_payload
  app/models/metric/ci_mixin/processing.rb
Owners: @agrare

Merge pull request #20062 from agrare/fix_exception_missing_messaging_yml
  app/models/miq_queue.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20039 from agrare/only_show_supported_emss_catalog_types
  app/models/ext_management_system.rb
  app/models/manageiq/providers/base_manager.rb
  app/models/manageiq/providers/embedded_automation_manager.rb
  app/models/manageiq/providers/network_manager.rb
  app/models/service_template.rb
  spec/models/ext_management_system_spec.rb
  spec/models/manageiq/providers/embedded_ansible/automation_manager_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
