Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

Revert "Merge pull request #19870 from djberg96/default_kill_virtv2v_signal"
  app/models/conversion_host.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @fdupont-redhat, @gmcullough, @fryguy, @gtanzillo

Revert "Merge pull request #19891 from fdupont-redhat/v2v_fix_bz_1808360"
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Revert "Merge pull request #19978 from fdupont-redhat/v2v_bz_1814258"
  app/models/conversion_host.rb
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @fdupont-redhat, @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Revert "Merge pull request #19698 from fdupont-redhat/v2v_use_podman_for_wrapper"
  app/models/conversion_host.rb
  app/models/service_template_transformation_plan_task.rb
  config/settings.yml
  lib/infra_conversion_throttler.rb
  spec/lib/infra_conversion_throttler_spec.rb
  spec/models/conversion_host_spec.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @fdupont-redhat, @gmcullough, @jrafanie, @fryguy, @gtanzillo

Revert "Merge pull request #19787 from fdupont-redhat/v2v_rename_variable_for_tls_ca_cert"
  app/models/conversion_host.rb
  app/models/conversion_host/configurations.rb
Owners: @fdupont-redhat

the ui's using these and it'll fix the test i broke
  app/models/ems_cluster.rb
Owners: @agrare, @fryguy, @kbrock

fix all_host_ids reference
  app/models/ems_cluster.rb
  spec/models/ems_cluster_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Update rails to 5.2.5.
  Gemfile
Owners: @fryguy, @gtanzillo

Use DATABASE_URL friendly AR::Base.configurations
  app/models/database_backup.rb
  app/models/miq_region_remote.rb
  lib/evm_database_ops.rb
  lib/tasks/test_vmdb.rake
  spec/models/miq_region_remote_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Missing comma.
  Gemfile
Owners: @fryguy, @gtanzillo

Allow EmsFolder#folder_path to be called from the API
  app/models/ems_folder.rb
Owners: @agrare, @fryguy, @kbrock

Set 'rack' minimum version to 2.0.9 (indirect dependency, minimum is set for CVE-2019-16782)
  Gemfile
Owners: @fryguy, @gtanzillo

Add Sprint review 137 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Revert "Merge pull request #20197 from yrudman/provide-descriptive-message-when-tag-missing"
  app/models/classification.rb
  spec/models/classification_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

return what went wrong if assigning tag failed BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1792106
  app/models/classification.rb
Owners: @agrare, @fryguy, @kbrock

added test coverage for Classification.classify
  spec/models/classification_spec.rb
Owners: @fryguy, @gtanzillo

Check compliance policy for only specified compliance profile.
  app/models/compliance.rb
  app/models/miq_policy.rb
  app/models/mixins/compliance_mixin.rb
  spec/models/miq_policy_spec.rb
Owners: @lfu, @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20201 from kbrock/sanity_check
  app/models/miq_region_remote.rb
Owners: @agrare, @fryguy, @kbrock

fix typo
  spec/models/generic_object_spec.rb
Owners: @fryguy, @gtanzillo

add miq_ae_domain caching
  spec/support/evm_spec_helper.rb
Owners: @fryguy, @gtanzillo

use lower classname to lookup
  app/models/miq_ae_class.rb
Owners: @agrare, @fryguy, @kbrock

bug: return a domain when creating a domain
  app/models/miq_ae_namespace.rb
Owners: @agrare, @fryguy, @kbrock

pass domain_ids to find_best_match_by
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
Owners: @agrare, @fryguy, @kbrock

use lower_name for class lookup
  app/models/miq_ae_instance.rb
Owners: @agrare, @fryguy, @kbrock

remove default includes from namespace.ae_classes
  app/models/miq_ae_class.rb
  app/models/miq_ae_namespace.rb
Owners: @agrare, @fryguy, @kbrock

domain cache
  app/models/miq_ae_class.rb
  app/models/miq_ae_namespace.rb
Owners: @agrare, @fryguy, @kbrock

add relative path mixin to ae models
  app/models/miq_ae_class.rb
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
  app/models/miq_ae_namespace.rb
  app/models/mixins/relative_path_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #19958 from agrare/add_collections_for_openstack_infra_graph
  app/models/manageiq/providers/infra_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/cloud_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/infra_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/shared.rb
Owners: @agrare

use imagepullpolicy
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

Merge pull request #19960 from agrare/move_orchestration_stack_ancestry_to_shared
  app/models/manageiq/providers/inventory/persister/builder/cloud_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/shared.rb
Owners: @agrare

use parenthesis
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

Update container_common.rb
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

Merge pull request #19958 from agrare/add_collections_for_openstack_infra_graph
  app/models/manageiq/providers/infra_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/cloud_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/infra_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/shared.rb
Owners: @agrare

Merge pull request #19960 from agrare/move_orchestration_stack_ancestry_to_shared
  app/models/manageiq/providers/inventory/persister/builder/cloud_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/shared.rb
Owners: @agrare

Merge pull request #20208 from jrafanie/use_DATABASE_URL_friendly_AR_BASE_configurations
  app/models/database_backup.rb
  app/models/miq_region_remote.rb
  lib/evm_database_ops.rb
  lib/tasks/test_vmdb.rake
  spec/models/miq_region_remote_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20207 from agrare/allow_folder_path_access_from_api
  app/models/ems_folder.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20192 from h-kataria/cb_assignments_startpage_update
  db/fixtures/miq_shortcuts.yml
Owners: @agrare, @carboni, @bdunne

Merge pull request #20168 from simaishi/revert_ims13
  app/models/conversion_host.rb
  app/models/conversion_host/configurations.rb
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  config/settings.yml
  lib/infra_conversion_throttler.rb
  spec/lib/infra_conversion_throttler_spec.rb
  spec/models/conversion_host_spec.rb
  spec/models/infra_conversion_job_spec.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @fdupont-redhat, @agrare, @fryguy, @kbrock, @gmcullough, @jrafanie, @gtanzillo

Don't create a data directory outside of the source tree in containers
  lib/vmdb_helper.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20220 from bennett-white/pullpolicy
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
