Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

Merge pull request #19911 from fdupont-redhat/v2v_bz_1809027
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #19882 from fdupont-redhat/v2v_bz_1719266
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #19927 from fdupont-redhat/v2v_fail_chost_config_if_no_ip
  app/models/conversion_host.rb
  spec/models/conversion_host_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Merge pull request #19456 from h-kataria/added_missing_rename_vm_feature
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Bump deprecation notice to the next release
  lib/vmdb/deprecation.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19939 from NickLaMuro/handle-submodules-in-git-repository-and-worktree
  app/models/git_repository.rb
  lib/git_worktree.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #19959 from NickLaMuro/git-worktree-handle-branches-with-submodules
  lib/git_worktree.rb
Owners: @fryguy, @gtanzillo

take out all the rest of inventory_object_refresh
  app/models/ext_management_system.rb
  app/models/manageiq/providers/cloud_manager/provision/state_machine.rb
  app/models/orchestration_stack.rb
  config/settings.yml
Owners: @agrare, @fryguy, @kbrock, @bzwei, @jrafanie

Merge pull request #19954 from fdupont-redhat/v2v_bz_1812685
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #19979 from fdupont-redhat/v2v_bz_1814876
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #19882 from fdupont-redhat/v2v_bz_1719266
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #19909 from mzazrivec/add_display_name_for_openstack_cinder_manager
  locale/en.yml
Owners: @fryguy, @gtanzillo

Merge pull request #19912 from carbonin/yum2dnf_dockerfile
  Dockerfile
Owners: @fryguy, @gtanzillo

Merge pull request #19914 from fdupont-redhat/v2v_bz_1809580
  app/models/manageiq/providers/cloud_manager/vm.rb
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #19927 from fdupont-redhat/v2v_fail_chost_config_if_no_ip
  app/models/conversion_host.rb
  spec/models/conversion_host_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Merge pull request #19917 from d-m-u/fixing_missing_script_interpreters
  tools/ci/after_failure.sh
  tools/ci/before_install.sh
  tools/ci/setup_ruby_env.sh
  tools/ci/setup_vmdb_configs.sh
Owners: @fryguy, @gtanzillo

Merge pull request #19933 from pemcg/update_sample_vm_analysis_profile
  product/scan_items/scan_item_file.yaml
Owners: @hkataria

Merge pull request #19795 from gmcculloug/service_cart_sub_classes
  app/models/service_order.rb
  app/models/service_order_cart.rb
  app/models/service_order_v2v.rb
  app/models/service_template_provision_request.rb
  app/models/service_template_transformation_plan_request.rb
  spec/factories/service_order.rb
  spec/models/service_order_spec.rb
  spec/models/service_template_provision_request_spec.rb
  spec/models/service_template_transformation_plan_request_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #19937 from bdunne/service_order_factory
  spec/factories/service_order.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19941 from djberg96/presenter_helper
  spec/support/presenter_helper.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19944 from gmcculloug/service_order_root_object
  app/models/service_template_provision_request.rb
  app/models/service_template_transformation_plan_request.rb
Owners: @gmcullough

Revert the inventory remove till the swift_manager is on graph refresh
  app/models/manageiq/providers/base_manager/refresher.rb
  spec/models/manageiq/providers/base_manager/refresher_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Merge pull request #19951 from gmcculloug/service_order_constant_problem
  app/models/service_order.rb
  app/models/service_template_provision_request.rb
  app/models/service_template_transformation_plan_request.rb
  spec/models/service_template_provision_request_spec.rb
  spec/models/service_template_transformation_plan_request_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #19954 from fdupont-redhat/v2v_bz_1812685
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Unpause disk precopy to run cutover
  app/models/conversion_host.rb
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @fdupont-redhat, @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Force file deletion
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Merge pull request #19953 from himdel/node-deployment-role
  app/models/ems_cluster.rb
  app/models/host.rb
  db/fixtures/miq_product_features.yml
  locale/en.yml
  spec/lib/miq_expression_spec.rb
  spec/models/ems_cluster_spec.rb
  spec/models/host_spec.rb
Owners: @agrare, @fryguy, @kbrock, @carboni, @bdunne, @gtanzillo

Merge pull request #19936 from jvlcek/oidc_api_to_core_issue_19865
  app/models/authenticator/httpd.rb
  app/models/authenticator/httpd/oauth2.rb
Owners: @jvlcek

Merge pull request #19939 from NickLaMuro/handle-submodules-in-git-repository-and-worktree
  app/models/git_repository.rb
  lib/git_worktree.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #19959 from NickLaMuro/git-worktree-handle-branches-with-submodules
  lib/git_worktree.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19965 from Fryguy/remove_timeline_license
  LICENSE.txt
Owners: @fryguy, @gtanzillo

Merge pull request #19961 from mzazrivec/fix_display_model_name_extraction
  lib/tasks/locale.rake
Owners: @fryguy, @gtanzillo

Merge pull request #19970 from gmcculloug/rconfigure_task_display_name
  app/models/vm_reconfigure_task.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #19975 from NickLaMuro/upgrade-smartstate-to-5.3
  Gemfile
Owners: @fryguy, @gtanzillo

Merge pull request #19956 from carbonin/dont_queue_ansible_runner_stuff
  app/models/manageiq/providers/ansible_runner_workflow.rb
  spec/models/manageiq/providers/ansible_playbook_workflow_spec.rb
  spec/models/manageiq/providers/ansible_role_workflow_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Merge pull request #19979 from fdupont-redhat/v2v_bz_1814876
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Move the SwiftManager to graph refresh
  app/models/manageiq/providers/inventory/persister/builder/storage_manager.rb
  app/models/manageiq/providers/storage_manager/inventory.rb
  app/models/manageiq/providers/storage_manager/inventory/collector.rb
  app/models/manageiq/providers/storage_manager/inventory/collector/swift_manager.rb
  app/models/manageiq/providers/storage_manager/inventory/parser.rb
  app/models/manageiq/providers/storage_manager/inventory/parser/swift_manager.rb
  app/models/manageiq/providers/storage_manager/inventory/persister.rb
  app/models/manageiq/providers/storage_manager/inventory/persister/swift_manager.rb
  app/models/manageiq/providers/storage_manager/swift_manager.rb
  app/models/manageiq/providers/storage_manager/swift_manager/refresher.rb
Owners: @agrare

Cross-link swift manager to openstack cloud manager
  app/models/manageiq/providers/storage_manager/inventory/parser/swift_manager.rb
  app/models/manageiq/providers/storage_manager/inventory/persister/swift_manager.rb
Owners: @agrare

Remove the legacy refresh parser
  app/models/manageiq/providers/storage_manager/swift_manager/refresh_parser.rb
  app/models/manageiq/providers/storage_manager/swift_manager/refresh_parser/cross_linkers.rb
  app/models/manageiq/providers/storage_manager/swift_manager/refresh_parser/cross_linkers/openstack.rb
Owners: @agrare

Remove inventory_obj_refresher
  app/models/manageiq/providers/base_manager/refresher.rb
  spec/models/manageiq/providers/base_manager/refresher_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
