Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

adjust rspec to accomodate accepting userid in api_client_connection_for_region invocation
  app/models/mixins/inter_region_api_method_relay.rb
  spec/models/mixins/inter_region_api_method_relay_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20228 from lpichler/rate_column_formatting
  app/models/chargeback_rate_detail.rb
  spec/models/chargeback_vm_spec.rb
Owners: @lpichler, @fryguy, @gtanzillo

Merge pull request #20236 from carbonin/bump_worker_liveness_check_timeout
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20239 from aufi/tools_relink_service_script
  tools/reconnect_service_orchestration_stacks.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20242 from agrare/fix_container_metrics_capture
  app/models/manageiq/providers/container_manager/metrics_capture.rb
Owners: @agrare

Merge pull request #20244 from yrudman/fix-retirement-from-global
  app/models/mixins/inter_region_api_method_relay.rb
  spec/models/mixins/inter_region_api_method_relay_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20240 from gtanzillo/fix-chargeback-rates-seeding
  lib/evm_database.rb
Owners: @fryguy, @gtanzillo

Bump to psych 3.1.0 to fix invalid yaml parsing
  Gemfile
Owners: @fryguy, @gtanzillo

Added translations for 9 languages
  locale/de/manageiq.po
  locale/es/manageiq.po
  locale/fr/manageiq.po
  locale/it/manageiq.po
  locale/ja/manageiq.po
  locale/ko/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_TW/manageiq.po
Owners: @fryguy, @gtanzillo

Fixed Vmdb::FastGettextHelper.supported_locales
  lib/vmdb/fast_gettext_helper.rb
Owners: @fryguy, @gtanzillo

Fix rake locale:extract_locale_names by providing environment
  lib/tasks/locale.rake
Owners: @fryguy, @gtanzillo

Remove the Hardware#m_bios method.
  app/models/hardware.rb
  lib/vmdb_helper.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

add a couple tests for the genealogy setting in vm_or_template
  spec/models/vm_or_template_spec.rb
Owners: @fryguy, @gtanzillo

Added locale yaml files for missing languages
  locale/de.yml
  locale/it.yml
  locale/ko.yml
  locale/zh_TW.yml
Owners: @fryguy, @gtanzillo

Fixed syntax errors in translations
  locale/es/manageiq.po
  locale/it/manageiq.po
  locale/ko/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_CN/manageiq.po
  locale/zh_TW/manageiq.po
Owners: @fryguy, @gtanzillo

Added translations for "locale_name"
  config/human_locale_names.yaml
  locale/de/manageiq.po
  locale/fr/manageiq.po
  locale/it/manageiq.po
  locale/ko/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_CN/manageiq.po
  locale/zh_TW/manageiq.po
Owners: @jrafanie, @fryguy, @gtanzillo

Generated config/human_locale_names.yaml
  config/human_locale_names.yaml
Owners: @jrafanie

Add a default value of 'locale_name'
  lib/vmdb/fast_gettext_helper.rb
Owners: @fryguy, @gtanzillo

Use FastGettext.with_locale
  spec/i18n/locale_name_spec.rb
Owners: @fryguy, @gtanzillo

Set default_locale to English in `FastGettextHelper.register_locales`
  lib/vmdb/fast_gettext_helper.rb
Owners: @fryguy, @gtanzillo

Account for pluralisation_rule of all locales
  spec/shared/i18n/placeholders.rb
Owners: @fryguy, @gtanzillo

Updated Headers
  locale/de/manageiq.po
  locale/en/manageiq.po
  locale/es/manageiq.po
  locale/fr/manageiq.po
  locale/it/manageiq.po
  locale/ja/manageiq.po
  locale/ko/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_CN/manageiq.po
  locale/zh_TW/manageiq.po
Owners: @fryguy, @gtanzillo

Do not report warnings when parsing the .po files
  spec/shared/i18n/placeholders.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20256 from chessbyte/fix_rake_locale_colon_extract_locale_names
  lib/tasks/locale.rake
Owners: @fryguy, @gtanzillo

Set default_locale to English in `FastGettextHelper.register_locales`
  lib/vmdb/fast_gettext_helper.rb
Owners: @fryguy, @gtanzillo

Use FastGettext.with_locale
  spec/i18n/locale_name_spec.rb
Owners: @fryguy, @gtanzillo

Add a default value of 'locale_name'
  lib/vmdb/fast_gettext_helper.rb
Owners: @fryguy, @gtanzillo

Account for pluralisation_rule of all locales
  spec/shared/i18n/placeholders.rb
Owners: @fryguy, @gtanzillo

Do not report warnings when parsing the .po files
  spec/shared/i18n/placeholders.rb
Owners: @fryguy, @gtanzillo

Add Sprint review 138 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Add missing compliance events for container project and physical server.
  db/fixtures/miq_event_definitions.csv
Owners: @agrare, @carboni, @bdunne

Conditionally add the messaging environment vars to worker containers
  lib/container_orchestrator/object_definition.rb
  spec/lib/container_orchestrator_spec.rb
Owners: @fryguy, @gtanzillo

Added NSX-T spec factories and some settings
  .rubocop_local.yml
  config/settings.yml
  spec/factories/cloud_network.rb
  spec/factories/cloud_subnet.rb
  spec/factories/cloud_tenants.rb
  spec/factories/ext_management_system.rb
  spec/factories/network_port.rb
  spec/factories/network_router.rb
  spec/factories/network_service.rb
  spec/factories/network_service_entry.rb
  spec/factories/security_group.rb
  spec/factories/security_policy.rb
  spec/factories/security_policy_rule.rb
  spec/lib/vmdb/loggers_spec.rb
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo, @jrafanie

Correction
  spec/factories/network_service.rb
  spec/factories/network_service_entry.rb
Owners: @fryguy, @gtanzillo

Use `N_()` notation to convert strings in UI when locale is changed
  app/models/miq_alert.rb
Owners: @agrare, @fryguy, @kbrock

Test correction
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Fix after review
  config/settings.yml
Owners: @jrafanie

Merge pull request #20267 from lfu/compliance_events
  db/fixtures/miq_event_definitions.csv
Owners: @agrare, @carboni, @bdunne

Update miq_alert_spec.rb
  spec/models/miq_alert_spec.rb
Owners: @fryguy, @gtanzillo

Fix Service assignment in ServiceOrchestration reconnection script
  tools/reconnect_service_orchestration_stacks.rb
Owners: @fryguy, @gtanzillo

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
