Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

Improve automate namespace query performance.
  app/models/miq_ae_class.rb
  app/models/miq_ae_field.rb
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
  app/models/miq_ae_namespace.rb
  spec/factories/miq_ae_class.rb
  spec/factories/miq_ae_domain.rb
  spec/factories/miq_ae_instance.rb
  spec/factories/miq_ae_method.rb
  spec/factories/miq_ae_namespace.rb
  spec/models/miq_ae_class_spec.rb
  spec/models/miq_ae_field_spec.rb
  spec/models/miq_ae_instance_spec.rb
  spec/models/miq_ae_method_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

remove domain spec references and tweak safeguards
  app/models/miq_ae_class.rb
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
  app/models/miq_ae_namespace.rb
  spec/models/miq_ae_class_spec.rb
  spec/models/miq_ae_field_spec.rb
  spec/models/miq_ae_instance_spec.rb
  spec/models/miq_ae_method_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

DDF: Methods for creating/editing EMSes with nested attributes
  app/models/ext_management_system.rb
  app/models/mixins/authentication_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20136 from lpichler/expose_assigned_tos_for_api
  app/models/chargeback_rate.rb
Owners: @lpichler

Merge pull request #20131 from jvlcek/oidc_to_httpd_config_issue_19866
  app/models/authenticator/httpd.rb
  app/models/authenticator/httpd/oauth2.rb
Owners: @jvlcek

Merge pull request #20135 from lpichler/support_unassignments_for_chageback_assigments
  app/models/chargeback_rate.rb
  app/models/mixins/assignment_mixin.rb
  spec/models/mixins/assignment_mixin_spec.rb
Owners: @lpichler, @agrare, @fryguy, @kbrock, @gtanzillo

nix the string interpolation
  app/models/container_project.rb
  app/models/mixins/aggregation_mixin/methods.rb
  spec/models/mixins/aggregation_mixin_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Added features under Chargebcak Rates
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

add rubocop channel to codeclimate config for plugin generator
  lib/generators/manageiq/plugin/templates/.codeclimate.yml
Owners: @fryguy, @gtanzillo

Added new start page entries to match menu changes in Chargeback area
  db/fixtures/miq_shortcuts.yml
Owners: @agrare, @carboni, @bdunne

Add Sprint review 136 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Merge pull request #20093 from fdupont-redhat/v2v_bz_1718846
  app/models/conversion_host/configurations.rb
  spec/models/conversion_host/configurations_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Merge pull request #20134 from fdupont-redhat/v2v_bz_1821842
  lib/infra_conversion_throttler.rb
  spec/lib/infra_conversion_throttler_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20134 from fdupont-redhat/v2v_bz_1821842
  lib/infra_conversion_throttler.rb
  spec/lib/infra_conversion_throttler_spec.rb
Owners: @fryguy, @gtanzillo

Updated the provider generator's dummy code with an example DDF
  lib/generators/manageiq/provider/templates/app/models/%plugin_path%/cloud_manager.rb
Owners: @fryguy, @gtanzillo

move these to automate
  app/models/miq_ae_class.rb
  app/models/miq_ae_field.rb
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
  app/models/miq_ae_namespace.rb
  app/models/miq_ae_value.rb
  app/models/miq_ae_workspace.rb
  app/models/mixins/miq_ae_set_user_info_mixin.rb
  app/models/mixins/miq_ae_yaml_import_export_mixin.rb
  spec/factories/miq_ae_class.rb
  spec/factories/miq_ae_domain.rb
  spec/factories/miq_ae_instance.rb
  spec/factories/miq_ae_method.rb
  spec/factories/miq_ae_namespace.rb
  spec/models/miq_ae_class/data/domain1.xml
  spec/models/miq_ae_class/data/domain1/DOMAIN1/SYSTEM/PROCESS.class/__class__.yaml
  spec/models/miq_ae_class/data/domain2.xml
  spec/models/miq_ae_class/data/domain2/DOMAIN2/SYSTEM/PROCESS.class/__class__.yaml
  spec/models/miq_ae_class/data/domain3.xml
  spec/models/miq_ae_class/data/domain3/DOMAIN3/SYSTEM/PROCESS.class/__class__.yaml
  spec/models/miq_ae_class_spec.rb
  spec/models/miq_ae_field_spec.rb
  spec/models/miq_ae_instance_spec.rb
  spec/models/miq_ae_method_spec.rb
  spec/models/miq_ae_namespace_spec.rb
  spec/models/miq_ae_value_spec.rb
  spec/support/automation_helper.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Fix README to point to travis-ci.com instead of travis-ci.org
  README.md
Owners: @fryguy, @gtanzillo

use automate factories (for now)
  spec/support/factory_bot_helper.rb
Owners: @fryguy, @gtanzillo

Follow up of https://github.com/ManageIQ/manageiq/pull/20050.
  app/models/miq_ae_class.rb
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
  app/models/miq_ae_namespace.rb
Owners: @agrare, @fryguy, @kbrock

aggregation mixin - use Hardware#sum(field)
  app/models/mixins/aggregation_mixin/methods.rb
Owners: @agrare, @fryguy, @kbrock

Update statistic_spec.rb
  spec/models/metric/statistic_spec.rb
Owners: @fryguy, @gtanzillo

update to 2.1
  Gemfile
Owners: @fryguy, @gtanzillo

Use the update manageiq logger library.
  lib/vmdb/loggers.rb
  lib/vmdb/loggers/audit_logger.rb
  lib/vmdb/loggers/azure_logger.rb
  lib/vmdb/loggers/container_logger.rb
  lib/vmdb/loggers/fog_logger.rb
Owners: @fryguy, @gtanzillo

Update filename call for new logger.
  lib/vmdb/loggers.rb
Owners: @fryguy, @gtanzillo

Update validator constants check.
  lib/vmdb/settings/validator.rb
Owners: @fryguy, @gtanzillo

Update logger in appliance.rb.
  lib/vmdb/appliance.rb
Owners: @fryguy, @gtanzillo

Update specs that used old VMDBLogger.
  spec/lib/vmdb/loggers/fog_logger_spec.rb
  spec/support/evm_spec_helper.rb
Owners: @fryguy, @gtanzillo

Do not assume logdev has a filename, generate a different message if it doesn't.
  lib/vmdb/loggers.rb
Owners: @fryguy, @gtanzillo

Update loggers spec.
  spec/lib/vmdb/loggers_spec.rb
Owners: @fryguy, @gtanzillo

Remove unused Gitlab CI configuration
  .gitlab-ci.yml
Owners: @fryguy, @gtanzillo

Add ems_uid and ems_type to event payload
  app/models/ems_event.rb
  spec/models/ems_event_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Remove unused Host#resolve_hostname
  app/models/host.rb
Owners: @agrare, @fryguy, @kbrock

Server static assets in production based on environment detection
  config/environments/production.rb
  lib/miq_environment.rb
  spec/lib/miq_environment_spec.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Add warning notice for abnormal production mode case.
  config/environments/production.rb
Owners: @jrafanie

Filter out jobs.migration_task.conversion_host.nil? in InfraConversionThrottler.running_conversions
  app/models/infra_conversion_job.rb
  lib/infra_conversion_throttler.rb
  spec/lib/infra_conversion_throttler_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20139 from agrare/add_resource_ems_uid_ems_to_metrics_payload
  app/models/metric/ci_mixin/processing.rb
Owners: @agrare

Merge pull request #19994 from Fryguy/productization_plugin
  config/application.rb
  lib/vmdb/productization.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Merge pull request #20129 from h-kataria/chargeback_remove_accordions
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Merge pull request #20050 from lfu/add_ns_domain
  app/models/miq_ae_class.rb
  app/models/miq_ae_field.rb
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
  app/models/miq_ae_namespace.rb
  spec/factories/miq_ae_class.rb
  spec/factories/miq_ae_domain.rb
  spec/factories/miq_ae_instance.rb
  spec/factories/miq_ae_method.rb
  spec/factories/miq_ae_namespace.rb
  spec/models/miq_ae_class_spec.rb
  spec/models/miq_ae_field_spec.rb
  spec/models/miq_ae_instance_spec.rb
  spec/models/miq_ae_method_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20146 from d-m-u/cleanup_the_hardware_query
  app/models/container_project.rb
  app/models/mixins/aggregation_mixin/methods.rb
  spec/models/mixins/aggregation_mixin_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo
