Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

Fix syntax errors
  locale/pt_BR/manageiq.po
  locale/zh_TW/manageiq.po
Owners: @fryguy, @gtanzillo

Rename term to unsupported for clarity
  lib/vmdb/permission_stores.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20321 from agrare/move_systemd_env_var_check
  app/models/miq_worker.rb
Owners: @jrafanie

Disable systemd for jansa
  config/settings.yml
Owners: @jrafanie

Remove existing worker cpu threshold
  app/models/miq_queue_worker_base/runner.rb
  config/settings.yml
Owners: @agrare, @fryguy, @kbrock, @jrafanie

Add a CPU limit to all worker containers
  app/models/miq_worker/container_common.rb
  config/settings.yml
Owners: @jrafanie

Add a memory limit constraint on deployments
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

Gate enforcing resource constraints on a setting
  app/models/miq_worker/container_common.rb
  config/settings.yml
  spec/models/miq_worker/container_common_spec.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Deal with the case where the setting is not present and add specs
  app/models/miq_worker/container_common.rb
  spec/models/miq_worker/container_common_spec.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Change cpu threshold to a percent
  app/models/miq_worker/container_common.rb
  config/settings.yml
  spec/models/miq_worker/container_common_spec.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Fix foreman provider missing url in specs
  spec/factories/ext_management_system.rb
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20193 from carbonin/add_resource_constraints
  app/models/miq_queue_worker_base/runner.rb
  app/models/miq_worker/container_common.rb
  config/settings.yml
  spec/models/miq_worker/container_common_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Move supports :create out of base Flavor model
  app/models/flavor.rb
Owners: @agrare, @fryguy, @kbrock

fix miq_request typo
  app/models/miq_request.rb
Owners: @gmcullough

update :retirement_state to queued after request to retire created. It would prevent to create mutiple retire requests for the same object. Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1851087
  app/models/mixins/retirement_mixin.rb
Owners: @agrare, @fryguy, @kbrock

allow to 'retire now' even if object was queued for retirement. We need to to have ability to manualy retire object if retirement request failing
  app/models/mixins/retirement_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20322 from NickLaMuro/embedded-ansible-add-pythonpath-support-for-centos8
  lib/ansible/runner.rb
Owners: @fryguy, @gtanzillo

Remove the extra env var for systemd configuration
  app/models/miq_worker.rb
Owners: @jrafanie

small changes to use constants
  app/models/mixins/retirement_mixin.rb
Owners: @agrare, @fryguy, @kbrock

log warn message when retirement already started or object already retired
  app/models/mixins/retirement_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20332 from agrare/move_supports_create_flavor
  app/models/flavor.rb
Owners: @agrare, @fryguy, @kbrock

Add Sprint review 140 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Add the VMware NSX-t Provider plugin to Gemfile
  Gemfile
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Use chargeback model in report editor
  lib/miq_expression.rb
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

Lock manageiq-messaging to what was last used in downstream hammer build
  Gemfile
Owners: @fryguy, @gtanzillo

Remove MiqSockUtil and just use Socket.
  app/models/miq_server/environment_management.rb
  tools/show_host_file_entries_for_vnc.rb
Owners: @jrafanie, @carbonin, @fryguy, @gtanzillo

Use the passed service account for worker deployments
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Fix gethostbyname call.
  tools/show_host_file_entries_for_vnc.rb
Owners: @fryguy, @gtanzillo

Minor refactor for getting ip address.
  app/models/miq_server/environment_management.rb
Owners: @jrafanie, @carbonin

Rubocop fix.
  app/models/miq_server/environment_management.rb
Owners: @jrafanie, @carbonin

Merge pull request #20315 from abellotti/auth_debugging
  app/models/authenticator/base.rb
  app/models/authenticator/httpd.rb
  config/settings.yml
Owners: @jvlcek, @jrafanie

Merge pull request #20337 from lpichler/use_chargeback_model_instead_of_related_chargeback_model
  lib/miq_expression.rb
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

Do NOT print message when using memcache (default)
  config/initializers/session_store.rb
Owners: @jrafanie

Split out MiqSockUtil methods into their on Environment methods, and add corresponding specs.
  app/models/miq_server/environment_management.rb
  lib/miq_environment.rb
  spec/lib/miq_environment_spec.rb
  spec/models/miq_server/environment_manager_spec.rb
Owners: @jrafanie, @carbonin, @fryguy, @gtanzillo

Remove unnecessary require.
  app/models/miq_server/environment_management.rb
Owners: @jrafanie, @carbonin

Handle possibility of multiple addresses from hostname -i.
  spec/lib/miq_environment_spec.rb
Owners: @fryguy, @gtanzillo

Remove unused Host#rediscover method
  app/models/host.rb
Owners: @agrare, @fryguy, @kbrock

Use Host#uid_ems to link host records to ems_events
  app/models/ems_event.rb
  spec/models/ems_event_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

add a post_create to the request template subclass
  app/models/miq_provision_request_template.rb
  spec/models/miq_provision_request_template_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge branch 'security-issue-65333-csv-injection' into jansa
  lib/patches/ruport_patch.rb
  spec/models/miq_report/formatters/csv_spec.rb
Owners: @fryguy, @gtanzillo
