Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

Merge pull request #20224 from carbonin/data_vol_containers
  lib/vmdb_helper.rb
Owners: @fryguy, @gtanzillo

change hardware memory_mb to bigint
  app/models/hardware.rb
  spec/models/hardware_spec.rb
  spec/models/service/aggregation_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Change seeding specs to look for a specific plugin path
  spec/models/miq_dialog/seeding_spec.rb
  spec/models/scan_item/seeding_spec.rb
Owners: @fryguy, @gtanzillo

Fix Vm#supports_terminate? checking EMS#vm_destroy
  app/models/vm_or_template/operations.rb
  spec/models/vm_or_template_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

typos in git_repository comment
  app/models/git_repository.rb
Owners: @agrare, @fryguy, @kbrock

Enhanced system token authentication to allow user authorization when authentication is OpenID-Connect or SAML.
  app/models/authenticator/base.rb
  app/models/authenticator/httpd.rb
  app/models/miq_region.rb
  app/models/user.rb
Owners: @jvlcek, @agrare, @fryguy, @kbrock

Eliminating ugly stack trace in the log if username does not match the userid from the user_metadata.
  app/models/authenticator/httpd.rb
Owners: @jvlcek

Separating the authorize_user_with_system_token logic path from the non OIDC/SAML authorize_user one.
  app/models/user.rb
Owners: @agrare, @fryguy, @kbrock

- Rubocop fixes
  app/models/user.rb
Owners: @agrare, @fryguy, @kbrock

Adding rspecs, updated: - user_spec.rb - authenticator/httpd_spec.rb - Added userid validation back
  app/models/authenticator/base.rb
  spec/models/authenticator/httpd_spec.rb
  spec/models/user_spec.rb
Owners: @jvlcek, @fryguy, @gtanzillo

Rubocop fixes.
  spec/models/user_spec.rb
Owners: @fryguy, @gtanzillo

Fixed test description
  spec/models/user_spec.rb
Owners: @fryguy, @gtanzillo

Introduce RelativePathMixin
  app/models/miq_ae_class.rb
  app/models/miq_ae_instance.rb
  app/models/miq_ae_method.rb
  app/models/miq_ae_namespace.rb
  app/models/mixins/relative_path_mixin.rb
Owners: @agrare, @fryguy, @kbrock

use like instead of ilike for ae method lookups
  app/models/miq_ae_method.rb
Owners: @agrare, @fryguy, @kbrock

namespace.class doesn't preload more objects
  app/models/miq_ae_namespace.rb
Owners: @agrare, @fryguy, @kbrock

When creating a domain, use MiqAeDomain.create
  app/models/miq_ae_namespace.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20225 from Fryguy/fix_seeding_specs
  spec/models/miq_dialog/seeding_spec.rb
  spec/models/scan_item/seeding_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20222 from agrare/fix_vm_supports_terminate
  app/models/vm_or_template/operations.rb
  spec/models/vm_or_template_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Merge pull request #20202 from abellotti/support_oidc_saml_with_system_token
  app/models/authenticator/base.rb
  app/models/authenticator/httpd.rb
  app/models/miq_region.rb
  app/models/user.rb
  spec/models/authenticator/httpd_spec.rb
  spec/models/user_spec.rb
Owners: @jvlcek, @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20127 from simaishi/rpm_build
  Dockerfile
Owners: @fryguy, @gtanzillo

Fixed a typo in the Report title
  product/reports/130_Configuration Management - Clusters/030_VM Affinity with Power State.yaml
Owners: @hkataria

Merge pull request #20227 from h-kataria/typo_fix
  product/reports/130_Configuration Management - Clusters/030_VM Affinity with Power State.yaml
Owners: @hkataria

Improve rate formatting in ChargebackRateDetail.rb
  app/models/chargeback_rate_detail.rb
  spec/models/chargeback_vm_spec.rb
Owners: @lpichler, @fryguy, @gtanzillo

Fix NetworkManager.display_name
  app/models/manageiq/providers/network_manager.rb
Owners: @agrare

Extract NetworkManager parent_manager to a mixin
  app/models/manageiq/providers/network_manager.rb
  app/models/mixins/belongs_to_parent_manager_mixin.rb
  spec/factories/ext_management_system.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20190 from h-kataria/cb_reports_non_explorer
  db/fixtures/miq_product_features.yml
  db/fixtures/miq_shortcuts.yml
Owners: @agrare, @carboni, @bdunne

Attempt to fix find_object_for_belongs_to_filter
  app/models/manageiq/providers/network_manager.rb
  app/models/mixins/belongs_to_parent_manager_mixin.rb
  spec/models/miq_filter_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Fix metrics rollup floating point precision error
  spec/models/metric/ci_mixin/rollup_spec.rb
Owners: @fryguy, @gtanzillo

Nuage/NSX-t NetworkManagers don't have a parent_manager
  spec/factories/ext_management_system.rb
Owners: @fryguy, @gtanzillo

Add a GCE log to prevent filling up rails logs
  .rubocop_local.yml
  config/settings.yml
  lib/vmdb/loggers.rb
Owners: @fryguy, @gtanzillo, @jrafanie

Release jansa-1-beta1
  Gemfile
  VERSION
Owners: @fryguy, @gtanzillo

Revert Gemfile tag reference update and put back branch reference
  Gemfile
Owners: @fryguy, @gtanzillo

Bump the worker liveness check timeout to avoid false failures
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Allow OpenStack public networks in transformation mappings
  app/models/transformation_mapping_item.rb
Owners: @fdupont-redhat

Add ServiceOrchestration reconnection script
  tools/reconnect_service_orchestration_stacks.rb
Owners: @fryguy, @gtanzillo

Fixed seeding order for Chargeback Rates, currencies need to be seeded prior to rates in order to assign then to rate details
  lib/evm_database.rb
Owners: @fryguy, @gtanzillo

Fix targets_archived_from after refactoring to MetricsCapture
  app/models/manageiq/providers/container_manager/metrics_capture.rb
Owners: @agrare

accept 'user_name' from passed arguments when iitiating InterRegion api call Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1839770
  app/models/mixins/inter_region_api_method_relay.rb
Owners: @agrare, @fryguy, @kbrock

Bump virtual_attributes gem to 2.0
  Gemfile
Owners: @fryguy, @gtanzillo

Removing as Xen VMs were never implemented
  app/models/vm_xen.rb
Owners: @agrare, @fryguy, @kbrock
