Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

Alphabetize
  .gitignore
Owners: @fryguy, @gtanzillo

Remove unnecessary test tag that is no longer used
  config/database.pg.yml
Owners: @jrafanie

Move messaging config to files
  .gitignore
  app/models/miq_queue.rb
  config/messaging.artemis.yml
  config/messaging.kafka.yml
  config/settings.yml
  lib/manageiq/environment.rb
  spec/models/miq_queue_spec.rb
Owners: @fryguy, @gtanzillo, @agrare, @kbrock, @jrafanie

new directory
  tools/configure_for_migration_analytics/configure
  tools/configure_for_migration_analytics/hosts
  tools/configure_for_migration_analytics/main.yml
  tools/configure_for_migration_analytics/tasks/configure-server-settings.yml
  tools/configure_for_migration_analytics/tasks/copy-sample-profile-to-default.yml
  tools/configure_for_migration_analytics/tasks/install-vddk.yml
  tools/configure_for_migration_analytics/tasks/set-control-policy.yml
  tools/configure_for_migration_analytics/vars/miq_vars.yml
Owners: @fryguy, @gtanzillo

Fix miq-bot offenses
  tools/configure_for_migration_analytics/main.yml
  tools/configure_for_migration_analytics/tasks/configure-server-settings.yml
  tools/configure_for_migration_analytics/tasks/copy-sample-profile-to-default.yml
  tools/configure_for_migration_analytics/tasks/install-vddk.yml
  tools/configure_for_migration_analytics/vars/miq_vars.yml
Owners: @fryguy, @gtanzillo

fix miq-bot offenses
  tools/configure_for_migration_analytics/main.yml
  tools/configure_for_migration_analytics/tasks/set-control-policy.yml
Owners: @fryguy, @gtanzillo

Reverse unless logic
  app/models/infra_conversion_job.rb
Owners: @agrare, @fryguy, @kbrock

Relax qpid_proton requirement
  Gemfile
Owners: @fryguy, @gtanzillo

Fix a bug when running Rbac on VimPerformanceDaily
  lib/rbac/filterer.rb
  spec/lib/rbac/filterer_spec.rb
Owners: @fryguy, @gtanzillo

Skip empty Volumes in VM provisioning
  app/models/manageiq/providers/cloud_manager/provision/state_machine.rb
Owners: @agrare

Add the resource's ems_type to the metric payload
  app/models/metric/ci_mixin/processing.rb
Owners: @agrare

Merge pull request #19984 from agrare/add_support_for_kafka
  app/models/ems_event.rb
  app/models/miq_event_handler/runner.rb
  app/models/miq_queue.rb
  config/settings.yml
  spec/models/ems_event_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Merge pull request #19987 from agrare/publish_metrics_to_kafka
  app/models/ems_event.rb
  app/models/metric/ci_mixin/processing.rb
  app/models/miq_queue.rb
  config/settings.yml
Owners: @agrare, @fryguy, @kbrock, @jrafanie

Merge pull request #20049 from bdunne/messaging_settings_to_files
  .gitignore
  app/models/miq_queue.rb
  config/messaging.artemis.yml
  config/messaging.kafka.yml
  config/settings.yml
  lib/manageiq/environment.rb
  spec/models/miq_queue_spec.rb
Owners: @fryguy, @gtanzillo, @agrare, @kbrock, @jrafanie

Add an ExtManagementSystem#refresh instance method, and a queue_refresh alias for refresh_ems.
  app/models/ext_management_system.rb
Owners: @agrare, @fryguy, @kbrock

Added some basic specs for the refresh method.
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Add a refresh spec, fix stub calls.
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Fix messaging_client exception if no ENV and no yaml are present
  app/models/miq_queue.rb
Owners: @agrare, @fryguy, @kbrock

Use let, describe.
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Rubocop fix.
  app/models/ext_management_system.rb
Owners: @agrare, @fryguy, @kbrock

fix typo on query
  app/models/mixins/miq_provision_quota_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Remove queue_refresh alias test for now.
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

remove quota methods we're not using
  app/models/mixins/miq_provision_quota_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20063 from d-m-u/fixing_not_query_on_quota_mixin
  app/models/mixins/miq_provision_quota_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20063 from d-m-u/fixing_not_query_on_quota_mixin
  app/models/mixins/miq_provision_quota_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20016 from agrare/relax_qpid_proton
  Gemfile
Owners: @fryguy, @gtanzillo

Changes to Configured Systems section.
  db/fixtures/miq_product_features.yml
  db/fixtures/miq_shortcuts.yml
Owners: @agrare, @carboni, @bdunne

Renamed provider_foreman to configuration_manager
  db/fixtures/miq_product_features.yml
  db/fixtures/miq_shortcuts.yml
  db/fixtures/miq_user_roles.yml
Owners: @agrare, @carboni, @bdunne

Replaced more strings in product features section
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Updated user roles to have new feature identifiers
  db/fixtures/miq_user_roles.yml
Owners: @agrare, @carboni, @bdunne

Changed identifiers added in this PR to make them unique in the file
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Added entries for CAM Provider/Configured Systems
  locale/en.yml
Owners: @fryguy, @gtanzillo

Added model alias `EmsConfiguration`
  app/models/aliases/ems_configuration.rb
  db/fixtures/miq_product_features.yml
  db/fixtures/miq_shortcuts.yml
  db/fixtures/miq_user_roles.yml
Owners: @agrare, @fryguy, @kbrock, @carboni, @bdunne

Added suffix `_provider` back to add/edit/delete/refresh features
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Added a dictionary entry
  locale/en.yml
Owners: @fryguy, @gtanzillo

Fixed an identifier that was missed to match with others in the area.
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

fixed indentation
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Added/Renamed features Configuration Management features
  db/fixtures/miq_product_features.yml
  db/fixtures/miq_shortcuts.yml
Owners: @agrare, @carboni, @bdunne

Fixed description text and a typo in comment
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

enable list miq_expression custom attributes spec
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
