Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

Revert "Merge pull request #19954 from fdupont-redhat/v2v_bz_1812685"
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Remove core productization pattern in favor of plugin
  config/application.rb
  lib/vmdb/productization.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Allow overriding ESXi IP address with a custom attribute - Part 2
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Delete a number of old unused refresh parsers
  app/models/manageiq/providers/cloud_manager.rb
  app/models/manageiq/providers/cloud_manager/refresh_parser.rb
  app/models/manageiq/providers/infra_manager/refresh_parser.rb
  app/models/manageiq/providers/physical_infra_manager/refresh_parser.rb
  app/models/manageiq/providers/storage_manager/cinder_manager.rb
  app/models/manageiq/providers/storage_manager/cinder_manager/refresh_parser.rb
  app/models/manageiq/providers/storage_manager/swift_manager.rb
Owners: @agrare

Merge pull request #19645 from lpichler/add_trait_in_other_region_to_time_profile
  spec/factories/time_profile.rb
Owners: @fryguy, @gtanzillo

Update CHANGELOG.md
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Add kafka connection info to worker containers
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Update CHANGELOG.md
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

remove save_networks_inventory
  app/models/ems_refresh/save_inventory.rb
  app/models/network.rb
Owners: @agrare, @fryguy, @kbrock

Update gettext catalog for ivanchuk update
  locale/manageiq.pot
Owners: @fryguy, @gtanzillo

Add translations for Ivanchuk branch
  locale/es/manageiq.po
  locale/fr/manageiq.po
  locale/ja/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_CN/manageiq.po
Owners: @fryguy, @gtanzillo

Update CHANGELOG.md
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Remove the journald logger to resolve segfaults
  lib/vmdb/loggers.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20004 from agrare/remove_journald_multicast_logger
  lib/vmdb/loggers.rb
Owners: @fryguy, @gtanzillo

Release jansa-1-alpha1
  Gemfile
  VERSION
Owners: @fryguy, @gtanzillo

Revert Gemfile tag reference update and put back branch reference
  Gemfile
Owners: @fryguy, @gtanzillo

add transaction to save of groups tabs and dialog
  app/models/dialog.rb
  app/models/dialog_group.rb
  app/models/dialog_tab.rb
Owners: @tinaaftiz

Bump manageiq-loggers to 0.5.0
  Gemfile
Owners: @fryguy, @gtanzillo

Include vendor and parent cluster info into C&U collection summary
  app/models/ems_cluster.rb
Owners: @agrare, @fryguy, @kbrock

Use --signal instead of -s to kill pods
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Merge pull request #19285 from d-m-u/fixing_timezone_on_reports
  app/models/miq_report.rb
  spec/models/miq_report_spec.rb
Owners: @kbrock, @lpichler, @fryguy, @gtanzillo

Merge pull request #20012 from fdupont-redhat/v2v_bz_1817151
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Don't run rake update:ui on travis
  bin/setup
  lib/manageiq/environment.rb
Owners: @jrafanie, @bdunne, @fryguy, @gtanzillo

Move git_based_domain_import to core
  lib/services/git_based_domain_import_service.rb
  spec/lib/services/git_based_domain_import_service_spec.rb
Owners: @fryguy, @gtanzillo

Don't need to setup the database on travis
  bin/setup
Owners: @jrafanie, @bdunne

Transferred from manageiq-ui-classic@f983f9425dfe8bc776a57603e092c053c019789e
  config/settings.yml
Owners: @jrafanie

Indentation correction
  .travis.yml
Owners: @fryguy, @gtanzillo

add transaction to dialog import
  app/models/dialog_field_importer.rb
  lib/services/dialog_import_service.rb
  spec/lib/services/dialog_import_service_spec.rb
Owners: @tinaaftiz, @fryguy, @gtanzillo

Force test:initialize to set RAILS_ENV=test
  lib/tasks/test.rake
Owners: @fryguy, @gtanzillo

Add additional privilege escalation methods
  app/models/manageiq/providers/embedded_ansible/automation_manager/machine_credential.rb
Owners: @agrare

Remove unused ems_inv_to_hashes method
  app/models/manageiq/providers/base_manager/refresher.rb
  app/models/manageiq/providers/storage_manager/cinder_manager/refresher.rb
Owners: @agrare

Add an ENV var override for queue_type
  app/models/miq_queue.rb
Owners: @agrare, @fryguy, @kbrock

Rename QUEUE_* to MESSAGING_*
  app/models/ems_event.rb
  app/models/miq_event_handler/runner.rb
  app/models/miq_queue.rb
  config/settings.yml
  spec/models/ems_event_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Add kafka as an option for prototype.queue_type
  app/models/ems_event.rb
  app/models/miq_event_handler/runner.rb
  app/models/miq_queue.rb
  config/settings.yml
  spec/models/ems_event_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Encode in json and always send events to miq_queue
  app/models/ems_event.rb
  app/models/miq_event_handler/runner.rb
  app/models/miq_queue.rb
Owners: @agrare, @fryguy, @kbrock

Publish to ems-events topic
  app/models/ems_event.rb
  spec/models/ems_event_spec.rb
Owners: @agrare, @fryguy, @gtanzillo

Update gettext catalogs for Jansa (round 2)
  locale/manageiq.pot
Owners: @fryguy, @gtanzillo

Update translations (from Transifex) to match new source catalog
  locale/es/manageiq.po
  locale/fr/manageiq.po
  locale/ja/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_CN/manageiq.po
Owners: @fryguy, @gtanzillo

Serverid not required if all_servers is used
  tools/configure_server_settings.rb
Owners: @fryguy, @gtanzillo

Update manageiq-smartstate Gem to 0.3.6
  Gemfile
Owners: @fryguy, @gtanzillo
