Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

Add instance methods for from_{cloud,infra}manager?
  app/models/vm_or_template.rb
  spec/models/vm_or_template_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Add fixed SSH key file path for virt-v2v-wrapper
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

modify contains to use arel instead of sql
  lib/miq_expression.rb
  lib/miq_expression/query_helper.rb
  lib/miq_expression/where_extraction_visitor.rb
  spec/lib/miq_expression/query_helper_spec.rb
Owners: @fryguy, @gtanzillo

Block error message override
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Created script to oneline msgid in translation files
  tools/translation/oneline_msgid.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20094 from carbonin/send_image_tag_to_workers
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

MiqReport: add back skip_references
  app/models/miq_report.rb
Owners: @kbrock, @lpichler

Add cxxflags for unf_ext gem installation on power
  tools/ci/setup_ruby_env.sh
Owners: @fryguy, @gtanzillo

convert from a traverser arel to a visitor
  lib/miq_expression.rb
  lib/miq_expression/query_helper.rb
  lib/miq_expression/remove_equality_visitor.rb
  spec/lib/miq_expression/remove_equality_visitor_spec.rb
Owners: @fryguy, @gtanzillo

Add parts needed for the NSX-T provider
  app/models/cloud_network.rb
  app/models/cloud_tenant.rb
  app/models/custom_button.rb
  app/models/ems_refresh/save_inventory_network.rb
  app/models/manageiq/providers/inventory/persister/builder/network_manager.rb
  app/models/manageiq/providers/network_manager.rb
  app/models/mixins/has_network_manager_mixin.rb
  app/models/network_service.rb
  app/models/network_service_entry.rb
  app/models/security_group.rb
  app/models/security_policy.rb
  app/models/security_policy_rule.rb
  app/models/security_policy_rule_destination_security_group.rb
  app/models/security_policy_rule_network_service.rb
  app/models/security_policy_rule_source_security_group.rb
  db/fixtures/miq_product_features.yml
Owners: @agrare, @fryguy, @kbrock, @carboni, @bdunne

Add Sprint review 135 [skip ci]
  CHANGELOG.md
Owners: @fryguy, @gtanzillo

Removed CAM entries that were added in previous commit
  locale/en.yml
Owners: @fryguy, @gtanzillo

Merge pull request #20109 from kbrock/report_skip_references
  app/models/miq_report.rb
Owners: @kbrock, @lpichler

Correction of security_group
  app/models/security_group.rb
Owners: @agrare, @fryguy, @kbrock

Undo changes in save_inventory_network
  app/models/ems_refresh/save_inventory_network.rb
Owners: @agrare

Cleaup of NSXT logger
  app/models/cloud_network.rb
  app/models/security_policy_rule.rb
Owners: @agrare, @fryguy, @kbrock

Use rails for exists clause
  lib/miq_expression.rb
  lib/miq_expression/where_extraction_visitor.rb
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

Remove deprecated code now that last caller was removed from UI
  app/models/host.rb
Owners: @agrare, @fryguy, @kbrock

Update miq_event_spec.rb
  spec/models/miq_event_spec.rb
Owners: @fryguy, @gtanzillo

Changes for supporting ppc64le
  .travis.yml
  tools/ci/setup_ruby_env.sh
Owners: @fryguy, @gtanzillo

Validate acording to MiqReport#cols in MiqReport
  app/models/miq_report.rb
  app/models/miq_report_result/result_set_operations.rb
  spec/models/miq_report_result/result_set_operations_spec.rb
Owners: @kbrock, @lpichler, @fryguy, @gtanzillo

add request subclass spec start
  spec/models/miq_provision_configured_system_request_spec.rb
  spec/models/vm_cloud_reconfigure_request_spec.rb
  spec/models/vm_migrate_request_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19890 from fdupont-redhat/v2v_check_chost_in_throttler_apply_limits
  app/models/infra_conversion_job.rb
  lib/infra_conversion_throttler.rb
  spec/lib/infra_conversion_throttler_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #19980 from fdupont-redhat/v2v_bz_1815046
  app/models/conversion_host.rb
  spec/models/conversion_host_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Fix a number of rubocop issues
  app/models/cloud_network.rb
  app/models/cloud_tenant.rb
  app/models/mixins/has_network_manager_mixin.rb
  app/models/network_service.rb
  app/models/security_group.rb
  app/models/security_policy.rb
  app/models/security_policy_rule.rb
  db/fixtures/miq_product_features.yml
Owners: @agrare, @fryguy, @kbrock, @carboni, @bdunne

Release ivanchuk-5
  Gemfile
  VERSION
Owners: @fryguy, @gtanzillo

Revert Gemfile tag reference update and put back branch reference
  Gemfile
Owners: @fryguy, @gtanzillo

Add evm:plugins:list rake task
  lib/tasks/evm_plugins.rake
  lib/vmdb/plugins.rb
  spec/lib/vmdb/plugins_spec.rb
Owners: @fryguy, @gtanzillo

Add an nsxt_log to Vmdb::Loggers
  config/settings.yml
  lib/vmdb/loggers.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Update plugin_generator.rb
  lib/generators/manageiq/plugin/plugin_generator.rb
Owners: @fryguy, @gtanzillo

Merge pull request #19911 from fdupont-redhat/v2v_bz_1809027
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #20011 from fdupont-redhat/v2v_enable_two_phase_for_ssh
  app/models/infra_conversion_job.rb
  app/models/service_template_transformation_plan_task.rb
  spec/models/infra_conversion_job_spec.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gmcullough, @gtanzillo

Merge pull request #20093 from fdupont-redhat/v2v_bz_1718846
  app/models/conversion_host/configurations.rb
  spec/models/conversion_host/configurations_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Merge pull request #20098 from agrare/update_ems_refresh_helper_skip_attrs
  spec/support/ems_refresh_helper.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20100 from Fryguy/pluggable_i18n_overrides
  config/initializers/fast_gettext.rb
Owners: @jrafanie

Merge pull request #20097 from jvlcek/multi_user_race_ISSUE_20041
  app/models/authenticator/base.rb
  spec/models/authenticator/httpd_spec.rb
Owners: @jvlcek, @fryguy, @gtanzillo

Merge pull request #20095 from carbonin/dont_run_pods_as_root
  lib/container_orchestrator/object_definition.rb
  spec/models/miq_worker/container_common_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20105 from fdupont-redhat/v2v_bz_1719266_2
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20102 from fdupont-redhat/v2v_bz_1825023
  app/models/service_template_transformation_plan_task.rb
  spec/models/service_template_transformation_plan_task_spec.rb
Owners: @gmcullough, @fryguy, @gtanzillo

Merge pull request #20110 from kbrock/miq_expression_contains_3
  lib/miq_expression.rb
  lib/miq_expression/where_extraction_visitor.rb
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo
