Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

Merge pull request #20067 from agrare/fix_missing_vmdb_persmission_stub
  spec/models/ext_management_system_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20052 from kbrock/miq_expression_merge
  app/models/miq_report/generator.rb
  lib/miq_expression.rb
  spec/lib/miq_expression_spec.rb
  spec/models/miq_report/generator_spec.rb
Owners: @kbrock, @lpichler, @fryguy, @gtanzillo

Merge pull request #20070 from carbonin/orchestrator_add_owner_reference
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Specs for MiqReport#col_format_with_defaults
  spec/models/miq_report_spec.rb
Owners: @fryguy, @gtanzillo

Document unique_within_region
  lib/unique_within_region_validator.rb
Owners: @fryguy, @gtanzillo

Add compliance_policies to ComplianceMixin.
  app/models/mixins/compliance_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Updated vm_reconfigure_task in app/models to add disk Type information.
  app/models/vm_reconfigure_task.rb
  spec/models/vm_reconfigure_task_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

fixed path to cockpit.conf
  lib/miq_cockpit.rb
Owners: @fryguy, @gtanzillo

close streams before killing process
  app/models/miq_cockpit_ws_worker/runner.rb
Owners: @jrafanie

code for _default_ format separation in MiqReport#formatting.rb
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Extract format for ChargebackContianer in MiqReport#format
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Extract code to determine column for format in MiqReport#format
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Extract code when col is integer in MiqReport#format
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Rename variable format in MiqReport formatting
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Return empty value earlier in MiqReport#format
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Extract chargeback format options in MiqRerport#format
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Extract code to determine formatter in MiqReport#formatting
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Join conditions in MiqReport#formating format method
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Extract if conditions to method Formatting#format_attributes_for
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Simplify conditions in Formatting#format.rb
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Update manageiq-smartstate Gem to 0.3.8
  Gemfile
Owners: @fryguy, @gtanzillo

Update manageiq-smartstate Gem to 0.3.8
  Gemfile
Owners: @fryguy, @gtanzillo

Update miq_query specs to prevent failures
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

Fail configuration action before creating task
  app/models/conversion_host/configurations.rb
  spec/models/conversion_host/configurations_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Prevent changing variable in Formatting#format
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Move the check in the disable method
  app/models/conversion_host/configurations.rb
  spec/models/conversion_host/configurations_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Merge pull request #20080 from lfu/check_compliance_provider
  app/models/mixins/compliance_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Use CONTAINER_IMAGE_TAG for worker deployment tag
  app/models/miq_worker/container_common.rb
Owners: @jrafanie

Don't run worker pods as root
  lib/container_orchestrator/object_definition.rb
  spec/models/miq_worker/container_common_spec.rb
Owners: @fryguy, @gtanzillo

Fix rubocop
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Generate value as a string in Formatting#format.rb
  app/models/miq_report/formatting.rb
Owners: @kbrock, @lpichler

Add scopes for VMs from Cloud/Infra Managers
  app/models/vm_or_template.rb
Owners: @agrare, @fryguy, @kbrock

Add {created,updated}_at to global skip attributes
  spec/support/ems_refresh_helper.rb
Owners: @fryguy, @gtanzillo

Added a named_scope to get Configuration Manager specific records
  app/models/configured_system.rb
Owners: @agrare, @fryguy, @kbrock

Handle user create race condition
  app/models/authenticator/base.rb
  spec/models/authenticator/httpd_spec.rb
Owners: @jvlcek, @fryguy, @gtanzillo

Merge pull request #20074 from lpichler/add_col_format_with_defaults
  app/models/miq_report.rb
Owners: @kbrock, @lpichler

Merge pull request #20082 from Fryguy/document_unique_within_region
  lib/unique_within_region_validator.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20078 from lpichler/add_col_format_with_defaults_specs
  spec/models/miq_report_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20077 from yrudman/check-for-nilif-stdin-not-nil-in-cockpit-worker
  app/models/miq_cockpit_ws_worker/runner.rb
  lib/miq_cockpit.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Allow plugins to bring I18n yaml files
  config/initializers/fast_gettext.rb
Owners: @jrafanie

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
