Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

Merge pull request #20079 from lpichler/expose_and_validate_according_to_cols
  app/models/miq_report.rb
  app/models/miq_report_result/result_set_operations.rb
  spec/models/miq_report_result/result_set_operations_spec.rb
Owners: @kbrock, @lpichler, @fryguy, @gtanzillo

Merge pull request #20118 from d-m-u/patch-1
  spec/models/miq_event_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20120 from Fryguy/plugin_paths_rake_task
  lib/tasks/evm_plugins.rake
  lib/vmdb/plugins.rb
  spec/lib/vmdb/plugins_spec.rb
Owners: @fryguy, @gtanzillo

ContainerRoutes belong to the ems not ContainerServices
  app/models/manageiq/providers/container_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/container_manager.rb
Owners: @agrare

Rails 5.2+ is the future, remove 5.1 crutch
  lib/miq_expression.rb
Owners: @fryguy, @gtanzillo

Use virtual_attributes 1.6
  Gemfile
Owners: @fryguy, @gtanzillo

[Rails52] Fix RollupRadarMixin deprecation warning
  config/application.rb
Owners: @jrafanie

Try rails 5.2.4
  Gemfile
Owners: @fryguy, @gtanzillo

Get bundle happy, will need to extract PRs to these repos
  Gemfile
Owners: @fryguy, @gtanzillo

Migrator class was refactored in 5.2, use new api
  lib/tasks/evm_application.rb
  spec/lib/tasks/evm_application_spec.rb
Owners: @fryguy, @gtanzillo

Rails 5.2 correctly casts datetime fields provided dates.
  spec/lib/miq_expression_spec.rb
Owners: @fryguy, @gtanzillo

Upgrade to manageiq-api-client that supports rails 5.2
  Gemfile
Owners: @fryguy, @gtanzillo

Go back to the tip of the schema master branch since we're merging it soon.
  Gemfile
Owners: @fryguy, @gtanzillo

Implemented methods for user accont locking/unlocking
  app/models/user.rb
  config/settings.yml
  spec/models/user_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Temporarily lock a user account after a few failed login attempts
  app/models/authenticator/base.rb
  app/models/authenticator/database.rb
  spec/models/authenticator/database_spec.rb
Owners: @jvlcek, @fryguy, @gtanzillo

Replace APPLIANCE_ROOT with ENV var available from /etc/default/evm
  Dockerfile
Owners: @fryguy, @gtanzillo

Update manageiq-ssh-util to 0.1.1.
  Gemfile
Owners: @fryguy, @gtanzillo

Moved API specific Chargeback features under API section.
  db/fixtures/miq_product_features.yml
Owners: @agrare, @carboni, @bdunne

Move API OpenID-Connect support to Apache configuration
  app/models/authenticator/httpd.rb
  app/models/authenticator/httpd/oauth2.rb
Owners: @jvlcek

fix brakeman warning about possible command injection
  config/brakeman.ignore
  lib/miq_apache/control.rb
Owners: @jrafanie, @fryguy, @gtanzillo

fix the sql injection brakeman warning
  app/models/mixins/aggregation_mixin/methods.rb
  config/brakeman.ignore
Owners: @agrare, @fryguy, @kbrock, @jrafanie

Don't run Ansible playbook if conversion host resource is absent or archived
  app/models/conversion_host.rb
  spec/models/conversion_host_spec.rb
Owners: @fdupont-redhat, @fryguy, @gtanzillo

Add empty lines after guard clauses
  app/models/conversion_host.rb
Owners: @fdupont-redhat

Add error message in log when preflight check fails
  lib/infra_conversion_throttler.rb
  spec/lib/infra_conversion_throttler_spec.rb
Owners: @fryguy, @gtanzillo

Fix spec
  spec/lib/infra_conversion_throttler_spec.rb
Owners: @fryguy, @gtanzillo

Add method assigned_tos to ChargebackRate model
  app/models/chargeback_rate.rb
Owners: @lpichler

Merge pull request #20077 from yrudman/check-for-nilif-stdin-not-nil-in-cockpit-worker
  app/models/miq_cockpit_ws_worker/runner.rb
  lib/miq_cockpit.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Merge pull request #20105 from fdupont-redhat/v2v_bz_1719266_2
  app/models/infra_conversion_job.rb
  spec/models/infra_conversion_job_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Add the Resource's EMS uid_ems to the metrics payload
  app/models/metric/ci_mixin/processing.rb
Owners: @agrare

Merge pull request #20126 from agrare/fix_openshift_container_routes_inv_collection
  app/models/manageiq/providers/container_manager.rb
  app/models/manageiq/providers/inventory/persister/builder/container_manager.rb
Owners: @agrare

Merge pull request #20076 from jrafanie/rails-5-2
  Gemfile
  config/application.rb
  lib/miq_expression.rb
  lib/tasks/evm_application.rb
  spec/lib/miq_expression_spec.rb
  spec/lib/tasks/evm_application_spec.rb
Owners: @fryguy, @gtanzillo, @jrafanie

Merge pull request #20087 from skateman/locked-account
  app/models/authenticator/base.rb
  app/models/authenticator/database.rb
  app/models/user.rb
  config/settings.yml
  spec/models/authenticator/database_spec.rb
  spec/models/user_spec.rb
Owners: @jvlcek, @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Merge pull request #20130 from d-m-u/use_awesome_spawn_for_apache_stop
  config/brakeman.ignore
  lib/miq_apache/control.rb
Owners: @jrafanie, @fryguy, @gtanzillo

Merge pull request #20132 from d-m-u/fixing_brakeman_sql_injection
  app/models/mixins/aggregation_mixin/methods.rb
  config/brakeman.ignore
Owners: @agrare, @fryguy, @kbrock, @jrafanie

Skip showback models for full-refresh tests
  spec/support/ems_refresh_helper.rb
Owners: @fryguy, @gtanzillo

Replace old MiqSshUtil with manageiq-ssh-util.
  spec/models/conversion_host_spec.rb
Owners: @fryguy, @gtanzillo

Extract label tag path name assigment in assignment mixin
  app/models/mixins/assignment_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Add method for unassign labels in AssignmentMixin
  app/models/chargeback_rate.rb
  app/models/mixins/assignment_mixin.rb
  spec/models/mixins/assignment_mixin_spec.rb
Owners: @lpichler, @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #19162 from Fryguy/embedded_ansible_multi_role
  db/fixtures/server_roles.csv
Owners: @agrare, @carboni, @bdunne

Extract ddf_traverse into a module and implement attribute extraction
  app/models/mixins/verify_credentials_mixin.rb
  lib/ddf.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria
