Repository ManageIQ/manageiq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fryguy, @gtanzillo, @agrare, @slemrmartin, @skateman, @kbrock, @jvlcek, @lpichler, @lfu, @fdupont-redhat, @tinaaftiz, @NickLaMuro, @jerryk55, @bzwei, @jrafanie, @tinaafitz, @hkataria, @gmcullough, @carbonin, @yrudman, @roliveri, @bdunne, @carboni, @panspagetka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                               @fryguy  @gtanzillo
#
/app/models/manageiq/providers/                 @agrare @fryguy
/app/models/manageiq/providers/inventory/       @agrare @fryguy @slemrmartin
/app/channels                                   @skateman
/app/mailers                                    @skateman
/app/models                                     @agrare @fryguy @kbrock
/app/models/authenticator*                      @jvlcek
/app/models/chargeback*                         @lpichler
/app/models/cloud*                              @agrare
/app/models/compliance*                         @lfu
/app/models/container*                          @agrare
/app/models/conversion_host*                    @fdupont-redhat
/app/models/dialog*                             @tinaaftiz
/app/models/ems_event*                          @agrare
/app/models/ems_refresh*                        @agrare
/app/models/event_stream*                       @agrare @lfu
/app/models/file_depot*                         @NickLaMuro @jerryk55
/app/models/firmware_registry*                  @agrare
/app/models/generic_object_definition*          @lfu @bzwei
/app/models/job*                                @agrare
/app/models/manageiq/providers                  @agrare
/app/models/metric*                             @agrare
/app/models/miq_cockpit_ws_worker*              @jrafanie
/app/models/miq_dialog*                         @tinaafitz
/app/models/miq_ems_metrics_processor_worker*   @agrare
/app/models/miq_event_handler*                  @agrare
/app/models/miq_policy*                         @lfu
/app/models/miq_product_feature*                @hkataria
/app/models/miq_provision*                      @gmcullough
/app/models/miq_remote_console_worker*          @skateman
/app/models/miq_report*                         @kbrock @lpichler
/app/models/miq_request*                        @gmcullough
/app/models/miq_schedule*                       @jrafanie
/app/models/miq_search*                         @lpichler
/app/models/miq_server*                         @jrafanie @carbonin
/app/models/miq_template*                       @agrare
/app/models/miq_widget*                         @yrudman
/app/models/miq_worker*                         @jrafanie
/app/models/notification*                       @skateman
/app/models/orchestration_stack*                @bzwei
/app/models/orchestration_template*             @bzwei
/app/models/physical_server*                    @agrare
/app/models/policy_event*                       @lfu
/app/models/scan_item*                          @roliveri
/app/models/service*                            @gmcullough
/app/models/transformation_mapping*             @fdupont-redhat
/app/models/vim_performance_state*              @agrare
/app/models/vm                                  @agrare
/app/models/vm_migrate_workflow                 @fdupont-redhat
/app/models/vm_or_template                      @agrare
/bin                                            @jrafanie @bdunne
/content                                        @bdunne
/config                                         @jrafanie
/db                                             @agrare @carboni @bdunne
/lib/manageiq/reporting                         @panspagetka @jrafanie
/product*                                       @hkataria

remove arguments we're not using from relationship ancestry methods
  app/models/mixins/relationship_mixin.rb
Owners: @agrare, @fryguy, @kbrock

linux admin's on 2.0.1 now
  Gemfile
Owners: @fryguy, @gtanzillo

Ignore potential large data being sent to the docker daemon
  .dockerignore
Owners: @fryguy, @gtanzillo

Fix issue where the square brackets are being created as directories
  Dockerfile
Owners: @fryguy, @gtanzillo

Destroying a provider doesn't destroy its parent manager
  app/models/ext_management_system.rb
  spec/models/ext_management_system_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

rename rel ancestry method to make it clear that it is for the relationship side only, not actual hierarchy methods
  app/models/miq_filter.rb
  app/models/mixins/relationship_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Add supports feature mixin to container templates
  app/models/container_template.rb
  app/models/mixins/supports_feature_mixin.rb
Owners: @agrare, @fryguy, @kbrock

MiqServer#miq_region should return actual region this server belongs to Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1836158
  app/models/miq_server.rb
Owners: @jrafanie, @carbonin

testing MiqServer#miq_region should return correct region
  spec/models/miq_server_spec.rb
Owners: @fryguy, @gtanzillo

.id_in_region() method works in the same way for any model
  spec/lib/vmdb/settings_spec.rb
Owners: @fryguy, @gtanzillo

added test coverage for loading settings for remote server on global region
  spec/lib/vmdb/settings_spec.rb
Owners: @fryguy, @gtanzillo

remove 'after do' with explicit clean-up of SettingChange table
  spec/lib/vmdb/settings_spec.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20216 from yrudman/provide-message-when-tag-assignment-failed
  app/models/classification.rb
  spec/models/classification_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Merge pull request #20291 from Fryguy/faster_specs
  spec/support/evm_spec_helper.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20290 from jrafanie/kill_ems_workers_on_their_server_before_ems_destroy
  app/models/ext_management_system.rb
  app/models/miq_worker.rb
  spec/models/ext_management_system_spec.rb
  spec/models/miq_worker_spec.rb
Owners: @agrare, @fryguy, @kbrock, @jrafanie, @gtanzillo

Merge pull request #20305 from carbonin/remove_workers_from_reindex
  config/settings.yml
Owners: @jrafanie

Merge pull request #20293 from d-m-u/bump_linux_admin
  Gemfile
Owners: @fryguy, @gtanzillo

added more coverage for global region
  spec/lib/vmdb/settings_spec.rb
Owners: @fryguy, @gtanzillo

update parent setting test in vm_or_template to use update!
  spec/models/vm_or_template_spec.rb
Owners: @fryguy, @gtanzillo

Revert dependent destroy of provider from EMS
  app/models/ext_management_system.rb
  spec/models/ext_management_system_spec.rb
Owners: @agrare, @fryguy, @kbrock, @gtanzillo

Fix yard return type.
  app/models/miq_provision_workflow.rb
Owners: @gmcullough

PR Review Updates: have Settings.authentication.debug sorted, loop through headers for generating logs, log group header as is.
  app/models/authenticator/httpd.rb
  config/settings.yml
Owners: @jvlcek, @jrafanie

Settings.docs - move from ui, add documentation link & setting
  config/settings.yml
Owners: @jrafanie

[cherry-pick] Use AwesomeSpawn.build_command_line to generate command lines
  app/models/conversion_host.rb
Owners: @fdupont-redhat

[ansible/runner.rb] Add additional py3 module path
  lib/ansible/runner.rb
Owners: @fryguy, @gtanzillo

Double the initial delay and timeout for worker container liveness probes
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Move the systemd env var check into the systemd_worker? method
  app/models/miq_worker.rb
Owners: @jrafanie

Merge pull request #20293 from d-m-u/bump_linux_admin
  Gemfile
Owners: @fryguy, @gtanzillo

Merge pull request #20299 from yrudman/global-region-settings-fix
  app/models/miq_server.rb
  spec/lib/vmdb/settings_spec.rb
  spec/models/miq_server_spec.rb
Owners: @jrafanie, @carbonin, @fryguy, @gtanzillo

Merge pull request #20299 from yrudman/global-region-settings-fix
  app/models/miq_server.rb
  spec/lib/vmdb/settings_spec.rb
  spec/models/miq_server_spec.rb
Owners: @jrafanie, @carbonin, @fryguy, @gtanzillo

Gemfile: Secure connection to https://rubygems.manageiq.org
  Gemfile
Owners: @fryguy, @gtanzillo

Add vmdb_db_restore helper to tools.
  tools/vmdb_db_restore.rb
Owners: @fryguy, @gtanzillo

Rubocop the thing.
  tools/vmdb_db_restore.rb
Owners: @fryguy, @gtanzillo

A little more rubocop love.
  tools/vmdb_db_restore.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20305 from carbonin/remove_workers_from_reindex
  config/settings.yml
Owners: @jrafanie

Merge pull request #20314 from agrare/add_supports_feature_container_template
  app/models/container_template.rb
  app/models/mixins/supports_feature_mixin.rb
Owners: @agrare, @fryguy, @kbrock

Merge pull request #20320 from himdel/settings
  config/settings.yml
Owners: @jrafanie

Merge pull request #20323 from carbonin/double_worker_container_timeouts
  lib/container_orchestrator/object_definition.rb
Owners: @fryguy, @gtanzillo

Merge pull request #20325 from cben/HTTPS-rubygems.manageiq.org
  Gemfile
Owners: @fryguy, @gtanzillo

Updated translations for 9 languages
  locale/de/manageiq.po
  locale/es/manageiq.po
  locale/fr/manageiq.po
  locale/it/manageiq.po
  locale/ja/manageiq.po
  locale/ko/manageiq.po
  locale/pt_BR/manageiq.po
  locale/zh_CN/manageiq.po
  locale/zh_TW/manageiq.po
Owners: @fryguy, @gtanzillo
